{% extends "templateSideBar.html" %}

{% block username %} {{usuario.nombre}} {% endblock %}

{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="row pt-5" id="alertRow">
    <div class="alert alert-{{messages[0]}} alert-dismissible fade show" role="alert">
        {{messages[1]}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" id="closeAlert"></button>
    </div>
</div>
{% endif %}
{% endwith %}
<div class="row pt-2">
    <h2>Historial de cambios del riesgo {{riesgo.clave}}</h2>
    <p><b>Nombre: </b>{{riesgo.nombre}}</p>
    <p><b>Descripción: </b>{{riesgo.descripcion}}</p>
    <p><b>Tipo: </b>{{riesgo.tipoRiesgo}}</p>
    <p><b>Agente de Amenaza: </b>{{riesgo.amenaza}}</p>
    <p><b>Vulnerabilidad: </b>{{riesgo.vulnerabilidad}}</p>
    <p><b>Umbral Actual: </b>{{umbral_actual}}</p>
</div>
<div class="row pt-2">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-3"></div>
        <div class="col-3">
            <select class="form-select" id="filter-year">
                <option value="">Filtrar por Año</option>
                <option value="2024">2024</option>
                <option value="2025">2025</option>
                <option value="2026">2026</option>
                <option value="2027">2027</option>
                <option value="2028">2028</option>
                <option value="2029">2029</option>
                <option value="2030">2030</option>
            </select>
        </div>
        <div class="col-3">
            <select class="form-select" id="filter-month">
                <option value="">Filtrar por Mes</option>
                <option value="01">Enero</option>
                <option value="02">Febrero</option>
                <option value="03">Marzo</option>
                <option value="04">Abril</option>
                <option value="05">Mayo</option>
                <option value="06">Junio</option>
                <option value="07">Julio</option>
                <option value="08">Agosto</option>
                <option value="09">Septiembre</option>
                <option value="10">Octubre</option>
                <option value="11">Noviembre</option>
                <option value="12">Diciembre</option>
            </select>
        </div>
    </div>
</div>
<div class="row pt-2">
    <div class="table-responsive">
        <table class="table table-main align-middle">
            <thead>
                <th>Fecha de Cambio</th>
                <th>Probabilidad</th>
                <th>Impacto</th>
                <th>Umbral</th>
                <th>Acciones</th>
            </thead>
            <tbody>
                {% for registro in riesgo.historial %}
                <tr>
                    <td>{{ registro.fecha }}</td>
                    {% if registro.probabilidad >= 6 %}
                    <td class="bg-danger">Alta</td>
                    {% elif registro.probabilidad >= 3 %}
                    <td style="background-color: rgb(255, 214, 31); color: black;">Media</td>
                    {% else %}
                    <td class="bg-success">Baja</td>
                    {% endif %}
                    {% if registro.impacto >= 6 %}
                    <td class="bg-danger">Alta</td>
                    {% elif registro.impacto >= 3 %}
                    <td style="background-color: rgb(255, 214, 31); color: black;">Media</td>
                    {% else %}
                    <td class="bg-success">Baja</td>
                    {% endif %}
                    {% if registro.umbral == 'Crítico' %}
                    <td class="bg-danger">Crítico</td>
                    {% elif registro.umbral == 'Alto' %}
                    <td style="background-color: rgb(255, 145, 0); color: black;">Alto</td>
                    {% elif registro.umbral == 'Medio' %}
                    <td style="background-color: rgb(255, 214, 31); color: black;">Medio</td>
                    {% elif registro.umbral == 'Bajo' %}
                    <td class="bg-success">Bajo</td>
                    {% else %}
                    <td class="bg-info">Insignificante</td>
                    {% endif %}
                    <td>
                        <button type="button" class="btn btn-light btn-more" data-bs-toggle="modal"
                            data-bs-target="#Ventana{{registro.id}}"><i
                                class="fa fa-eye"></i></button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<div class="row pt-2"></div>

{% for i in range(riesgo.historial|length) %}
<div class="modal fade" id="Ventana{{riesgo.historial[i].id}}" data-bs-backdrop="static"
    data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Detalles del Registro</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-justify">
                {% if i >= 1 %}
                <h5>Detalles antes de la actualización</h5>
                <p><b>Fecha: </b>{{riesgo.historial[i-1].fecha}}</p>
                {% if riesgo.historial[i-1].probabilidad >= 6 %}
                <p><b>Probabilidad: </b><button type="button" class="btn btn-sm btn-block btn-danger"
                        style="pointer-events: none;"> Alta </button></p>
                {% elif riesgo.historial[i-1].probabilidad >= 3 %}
                <p><b>Probabilidad: </b><button type="button" class="btn btn-sm btn-block btn-warning"
                        style="pointer-events: none;"> Media </button></p>
                {% else %}
                <p><b>Probabilidad: </b><button type="button" class="btn btn-sm btn-block btn-success"
                        style="pointer-events: none;"> Baja </button></p>
                {% endif %}
                <h5 class="text-center"><b>Probabilidad - Factores de amenaza</b></h5>
                <table class="table table-responsive">
                    <thead>
                        <th style="text-align: center;padding: 10px;">Nivel de habilidad</th>
                        <th style="text-align: center;padding: 10px;">Motivacion</th>
                        <th style="text-align: center;padding: 10px;">Oportunidad</th>
                        <th style="text-align: center;padding: 10px;">Tamaño</th>
                    </thead>
                    <tr>
                        <td class="" style="text-align: center;padding: 10px;"> {{
                            riesgo.historial[i-1].nivelHabilidad}}<br>{{factores_de_amenaza['nivel_de_habilidad'][riesgo.historial[i-1].nivelHabilidad]}}</td>
                        <td class="" style="text-align: center;padding: 10px;"> {{
                            riesgo.historial[i-1].motivacion}}<br>{{factores_de_amenaza['motivación'][riesgo.historial[i-1].motivacion]}}</td>
                        <td class="" style="text-align: center;padding: 10px;"> {{
                            riesgo.historial[i-1].oportunidad}}<br>{{factores_de_amenaza['oportunidad'][riesgo.historial[i-1].oportunidad]}}</td>
                        <td class="" style="text-align: center;padding: 10px;"> {{ riesgo.historial[i-1].tamaño}}<br>{{factores_de_amenaza['tamaño'][riesgo.historial[i-1].tamaño]}}</td>
                    </tr>
                </table>

                <h5 class="text-center"><b>Probabilidad - Factores de vulnerabilidad</b></h5>
                <table class="table table-responsive">
                    <thead>

                        <th style="text-align: center;padding: 10px;">Facilidad de descubrimiento</th>
                        <th style="text-align: center;padding: 10px;">Facilidad de explotación</th>
                        <th style="text-align: center;padding: 10px;">Conciencia</th>
                        <th style="text-align: center;padding: 10px;">Detección de intrusiones</th>
                    </thead>
                    <tr>
                        <td class="" style="text-align: center;padding: 10px;"> {{
                            riesgo.historial[i-1].facilidadDescubrimiento}}<br>{{factores_de_vulnerabilidad['facilidad_de_descubrimiento'][riesgo.historial[i-1].facilidadDescubrimiento]}}</td>
                        <td class="" style="text-align: center;padding: 10px;"> {{
                            riesgo.historial[i-1].facilidadExplotacion}}<br>{{factores_de_vulnerabilidad['facilidad_de_explotación'][riesgo.historial[i-1].facilidadExplotacion]}}</td>
                        <td class="" style="text-align: center;padding: 10px;"> {{
                            riesgo.historial[i-1].conciencia}}<br>{{factores_de_vulnerabilidad['conciencia'][riesgo.historial[i-1].conciencia]}}</td>
                        <td class="" style="text-align: center;padding: 10px;"> {{
                            riesgo.historial[i-1].deteccionIntrusiones}}<br>{{factores_de_vulnerabilidad['detección_de_intrusiones'][riesgo.historial[i-1].deteccionIntrusiones]}}</td>
                    </tr>
                </table>

                {% if riesgo.historial[i-1].impacto >= 6 %}
                <p><b>Impacto: </b><button type="button" class="btn btn-sm btn-block btn-danger"
                        style="pointer-events: none;"> Alta </button></p>
                {% elif riesgo.historial[i-1].impacto >= 3 %}
                <p><b>Impacto: </b><button type="button" class="btn btn-sm btn-block btn-warning"
                        style="pointer-events: none;"> Media </button></p>
                {% else %}
                <p><b>Impacto: </b><button type="button" class="btn btn-sm btn-block btn-success"
                        style="pointer-events: none;"> Baja </button></p>
                {% endif %}
                <h5 class="text-center"><b>Impacto - Impacto empresarial</b></h5>
                <table class="table table-responsive">
                    <thead>

                        <th style="text-align: center;padding: 10px;">Impacto Financiero</th>
                        <th style="text-align: center;padding: 10px;">Impacto Reputacion</th>
                        <th style="text-align: center;padding: 10px;">Impacto Legal</th>
                        <th style="text-align: center;padding: 10px;">Impacto Usuarios</th>
                    </thead>
                    <tr>
                        <td class="" style="text-align: center;padding: 10px;"> {{
                            riesgo.historial[i-1].impactoFinanciero}}<br>{{factores_de_impacto_empresarial['daño_financiero'][riesgo.historial[i-1].impactoFinanciero]}}</td>
                        <td class="" style="text-align: center;padding: 10px;"> {{
                            riesgo.historial[i-1].impactoReputacion}}<br>{{factores_de_impacto_empresarial['daño_a_la_reputación'][riesgo.historial[i-1].impactoReputacion]}}</td>
                        <td class="" style="text-align: center;padding: 10px;"> {{
                            riesgo.historial[i-1].impactoLegal}}<br>{{factores_de_impacto_empresarial['incumplimiento'][riesgo.historial[i-1].impactoLegal]}}</td>
                        <td class="" style="text-align: center;padding: 10px;"> {{
                            riesgo.historial[i-1].impactoUsuarios}}<br>{{factores_de_impacto_empresarial['violación_de_la_privacidad'][riesgo.historial[i-1].impactoUsuarios]}}</td>
                    </tr>
                </table>
                <br>
                {% if riesgo.historial[i-1].fecha in detalle_activo %}
                {% if detalle_activo[riesgo.historial[i-1].fecha][1] in riesgo.historial[i-1].detalles %}
                <p><b>Detalles de la actualización del activo.</b></p>
                <table class="table">
                    <thead>
                        <th>Confidencialidad</th>
                        <th>Disponibilidad</th>
                        <th>Integridad</th>
                        <th>Sensibilidad</th>
                    </thead>
                    <tbody>
                        <td>{{detalle_activo[riesgo.historial[i-1].fecha][0].confidencialidad}}</td>
                        <td>{{detalle_activo[riesgo.historial[i-1].fecha][0].disponibilidad}}</td>
                        <td>{{detalle_activo[riesgo.historial[i-1].fecha][0].integridad}}</td>
                        <td>{{detalle_activo[riesgo.historial[i-1].fecha][0].sensibilidad}}</td>
                    </tbody>
                </table>
                {% endif %}
                {% endif %}
                <hr><br>
                <h5>Detalles de la actualización</h5>
                <p><b>Fecha: </b>{{riesgo.historial[i].fecha}}</p>
                {% if riesgo.historial[i].probabilidad >= 6 %}
                <p><b>Probabilidad: </b><button type="button" class="btn btn-sm btn-block btn-danger"
                        style="pointer-events: none;"> Alta </button></p>
                {% elif riesgo.historial[i].probabilidad >= 3 %}
                <p><b>Probabilidad: </b><button type="button" class="btn btn-sm btn-block btn-warning"
                        style="pointer-events: none;"> Media </button></p>
                {% else %}
                <p><b>Probabilidad: </b><button type="button" class="btn btn-sm btn-block btn-success"
                        style="pointer-events: none;"> Baja </button></p>
                {% endif %}
                <h5 class="text-center"><b>Probabilidad - Factores de amenaza</b></h5>
                <table class="table table-responsive">
                    <thead>
                        <th style="text-align: center;padding: 10px;">Nivel de habilidad</th>
                        <th style="text-align: center;padding: 10px;">Motivacion</th>
                        <th style="text-align: center;padding: 10px;">Oportunidad</th>
                        <th style="text-align: center;padding: 10px;">Tamaño</th>
                    </thead>
                    <tr>
                        <td class="" style="text-align: center;padding: 10px;"> {{
                            riesgo.historial[i].nivelHabilidad}}<br>{{factores_de_amenaza['nivel_de_habilidad'][riesgo.historial[i].nivelHabilidad]}}</td>
                        <td class="" style="text-align: center;padding: 10px;"> {{
                            riesgo.historial[i].motivacion}}<br>{{factores_de_amenaza['motivación'][riesgo.historial[i].motivacion]}}</td>
                        <td class="" style="text-align: center;padding: 10px;"> {{
                            riesgo.historial[i].oportunidad}}<br>{{factores_de_amenaza['oportunidad'][riesgo.historial[i].oportunidad]}}</td>
                        <td class="" style="text-align: center;padding: 10px;"> {{ riesgo.historial[i].tamaño}}<br>{{factores_de_amenaza['tamaño'][riesgo.historial[i].tamaño]}}</td>
                    </tr>
                </table>

                <h5 class="text-center"><b>Probabilidad - Factores de vulnerabilidad</b></h5>
                <table class="table table-responsive">
                    <thead>

                        <th style="text-align: center;padding: 10px;">Facilidad de descubrimiento</th>
                        <th style="text-align: center;padding: 10px;">Facilidad de explotación</th>
                        <th style="text-align: center;padding: 10px;">Conciencia</th>
                        <th style="text-align: center;padding: 10px;">Detección de intrusiones</th>
                    </thead>
                    <tr>
                        <td class="" style="text-align: center;padding: 10px;"> {{
                            riesgo.historial[i].facilidadDescubrimiento}}<br>{{factores_de_vulnerabilidad['facilidad_de_descubrimiento'][riesgo.historial[i].facilidadDescubrimiento]}}</td>
                        <td class="" style="text-align: center;padding: 10px;"> {{
                            riesgo.historial[i].facilidadExplotacion}}<br>{{factores_de_vulnerabilidad['facilidad_de_explotación'][riesgo.historial[i].facilidadExplotacion]}}</td>
                        <td class="" style="text-align: center;padding: 10px;"> {{
                            riesgo.historial[i].conciencia}}<br>{{factores_de_vulnerabilidad['conciencia'][riesgo.historial[i].conciencia]}}</td>
                        <td class="" style="text-align: center;padding: 10px;"> {{
                            riesgo.historial[i].deteccionIntrusiones}}<br>{{factores_de_vulnerabilidad['detección_de_intrusiones'][riesgo.historial[i].deteccionIntrusiones]}}</td>
                    </tr>
                </table>

                {% if riesgo.historial[i].impacto >= 6 %}
                <p><b>Impacto: </b><button type="button" class="btn btn-sm btn-block btn-danger"
                        style="pointer-events: none;"> Alta </button></p>
                {% elif riesgo.historial[i].impacto >= 3 %}
                <p><b>Impacto: </b><button type="button" class="btn btn-sm btn-block btn-warning"
                        style="pointer-events: none;"> Media </button></p>
                {% else %}
                <p><b>Impacto: </b><button type="button" class="btn btn-sm btn-block btn-success"
                        style="pointer-events: none;"> Baja </button></p>
                {% endif %}
                <h5 class="text-center"><b>Impacto - Impacto empresarial</b></h5>
                <table class="table table-responsive">
                    <thead>

                        <th style="text-align: center;padding: 10px;">Impacto Financiero</th>
                        <th style="text-align: center;padding: 10px;">Impacto Reputacion</th>
                        <th style="text-align: center;padding: 10px;">Impacto Legal</th>
                        <th style="text-align: center;padding: 10px;">Impacto Usuarios</th>
                    </thead>
                    <tr>
                        <td class="" style="text-align: center;padding: 10px;"> {{
                            riesgo.historial[i].impactoFinanciero}}<br>{{factores_de_impacto_empresarial['daño_financiero'][riesgo.historial[i].impactoFinanciero]}}</td>
                        <td class="" style="text-align: center;padding: 10px;"> {{
                            riesgo.historial[i].impactoReputacion}}<br>{{factores_de_impacto_empresarial['daño_a_la_reputación'][riesgo.historial[i].impactoReputacion]}}</td>
                        <td class="" style="text-align: center;padding: 10px;"> {{
                            riesgo.historial[i].impactoLegal}}<br>{{factores_de_impacto_empresarial['incumplimiento'][riesgo.historial[i].impactoLegal]}}</td>
                        <td class="" style="text-align: center;padding: 10px;"> {{
                            riesgo.historial[i].impactoUsuarios}}<br>{{factores_de_impacto_empresarial['violación_de_la_privacidad'][riesgo.historial[i].impactoUsuarios]}}</td>
                    </tr>
                </table>
                <br>
                <h5 class="text-center"><b>Detalles de la actualización del riesgo</b></h5>
                <p>{{riesgo.historial[i].detalles}}</p>
                {% if riesgo.historial[i].fecha in detalle_activo %}
                {% if detalle_activo[riesgo.historial[i].fecha][1] in riesgo.historial[i].detalles %}
                <p><b>Detalles de la actualización del activo.</b></p>
                <table class="table">
                    <thead>
                        <th>Confidencialidad</th>
                        <th>Disponibilidad</th>
                        <th>Integridad</th>
                        <th>Sensibilidad</th>
                    </thead>
                    <tbody>
                        <td>{{detalle_activo[riesgo.historial[i].fecha][0].confidencialidad}}</td>
                        <td>{{detalle_activo[riesgo.historial[i].fecha][0].disponibilidad}}</td>
                        <td>{{detalle_activo[riesgo.historial[i].fecha][0].integridad}}</td>
                        <td>{{detalle_activo[riesgo.historial[i].fecha][0].sensibilidad}}</td>
                    </tbody>
                </table>
                {% endif %}
                {% endif %}
                {% else %}
                <p><b>Fecha: </b>{{riesgo.historial[i-1].fecha}}</p>
                {% if riesgo.historial[i].probabilidad >= 6 %}
                <p><b>Probabilidad: </b><button type="button" class="btn btn-sm btn-block btn-danger"
                        style="pointer-events: none;"> Alta </button></p>
                {% elif riesgo.historial[i].probabilidad >= 3 %}
                <p><b>Probabilidad: </b><button type="button" class="btn btn-sm btn-block btn-warning"
                        style="pointer-events: none;"> Media </button></p>
                {% else %}
                <p><b>Probabilidad: </b><button type="button" class="btn btn-sm btn-block btn-success"
                        style="pointer-events: none;"> Baja </button></p>
                {% endif %}
                <h5 class="text-center"><b>Probabilidad - Factores de amenaza</b></h5>
                <table class="table table-responsive">
                    <thead>
                        <th style="text-align: center;padding: 10px;">Nivel de habilidad</th>
                        <th style="text-align: center;padding: 10px;">Motivacion</th>
                        <th style="text-align: center;padding: 10px;">Oportunidad</th>
                        <th style="text-align: center;padding: 10px;">Tamaño</th>
                    </thead>
                    <tr>
                        <td class="" style="text-align: center;padding: 10px;"> {{
                            riesgo.historial[i].nivelHabilidad}}<br>{{factores_de_amenaza['nivel_de_habilidad'][riesgo.historial[i].nivelHabilidad]}}</td>
                        <td class="" style="text-align: center;padding: 10px;"> {{
                            riesgo.historial[i].motivacion}}<br>{{factores_de_amenaza['motivación'][riesgo.historial[i].motivacion]}}</td>
                        <td class="" style="text-align: center;padding: 10px;"> {{
                            riesgo.historial[i].oportunidad}}<br>{{factores_de_amenaza['oportunidad'][riesgo.historial[i].oportunidad]}}</td>
                        <td class="" style="text-align: center;padding: 10px;"> {{ riesgo.historial[i].tamaño}}<br>{{factores_de_amenaza['tamaño'][riesgo.historial[i].tamaño]}}</td>
                    </tr>
                </table>

                <h5 class="text-center"><b>Probabilidad - Factores de vulnerabilidad</b></h5>
                <table class="table table-responsive">
                    <thead>

                        <th style="text-align: center;padding: 10px;">Facilidad de descubrimiento</th>
                        <th style="text-align: center;padding: 10px;">Facilidad de explotación</th>
                        <th style="text-align: center;padding: 10px;">Conciencia</th>
                        <th style="text-align: center;padding: 10px;">Detección de intrusiones</th>
                    </thead>
                    <tr>
                        <td class="" style="text-align: center;padding: 10px;"> {{
                            riesgo.historial[i].facilidadDescubrimiento}}<br>{{factores_de_vulnerabilidad['facilidad_de_descubrimiento'][riesgo.historial[i].facilidadDescubrimiento]}}</td>
                        <td class="" style="text-align: center;padding: 10px;"> {{
                            riesgo.historial[i].facilidadExplotacion}}<br>{{factores_de_vulnerabilidad['facilidad_de_explotación'][riesgo.historial[i].facilidadExplotacion]}}</td>
                        <td class="" style="text-align: center;padding: 10px;"> {{
                            riesgo.historial[i].conciencia}}<br>{{factores_de_vulnerabilidad['conciencia'][riesgo.historial[i].conciencia]}}</td>
                        <td class="" style="text-align: center;padding: 10px;"> {{
                            riesgo.historial[i].deteccionIntrusiones}}<br>{{factores_de_vulnerabilidad['detección_de_intrusiones'][riesgo.historial[i].deteccionIntrusiones]}}</td>
                    </tr>
                </table>

                {% if riesgo.historial[i].impacto >= 6 %}
                <p><b>Impacto: </b><button type="button" class="btn btn-sm btn-block btn-danger"
                        style="pointer-events: none;"> Alta </button></p>
                {% elif riesgo.historial[i].impacto >= 3 %}
                <p><b>Impacto: </b><button type="button" class="btn btn-sm btn-block btn-warning"
                        style="pointer-events: none;"> Media </button></p>
                {% else %}
                <p><b>Impacto: </b><button type="button" class="btn btn-sm btn-block btn-success"
                        style="pointer-events: none;"> Baja </button></p>
                {% endif %}
                <h5 class="text-center"><b>Impacto - Impacto empresarial</b></h5>
                <table class="table table-responsive">
                    <thead>

                        <th style="text-align: center;padding: 10px;">Impacto Financiero</th>
                        <th style="text-align: center;padding: 10px;">Impacto Reputacion</th>
                        <th style="text-align: center;padding: 10px;">Impacto Legal</th>
                        <th style="text-align: center;padding: 10px;">Impacto Usuarios</th>
                    </thead>
                    <tr>
                        <td class="" style="text-align: center;padding: 10px;"> {{
                            riesgo.historial[i].impactoFinanciero}}<br>{{factores_de_impacto_empresarial['daño_financiero'][riesgo.historial[i].impactoFinanciero]}}</td>
                        <td class="" style="text-align: center;padding: 10px;"> {{
                            riesgo.historial[i].impactoReputacion}}<br>{{factores_de_impacto_empresarial['daño_a_la_reputación'][riesgo.historial[i].impactoReputacion]}}</td>
                        <td class="" style="text-align: center;padding: 10px;"> {{
                            riesgo.historial[i].impactoLegal}}<br>{{factores_de_impacto_empresarial['incumplimiento'][riesgo.historial[i].impactoLegal]}}</td>
                        <td class="" style="text-align: center;padding: 10px;"> {{
                            riesgo.historial[i].impactoUsuarios}}<br>{{factores_de_impacto_empresarial['violación_de_la_privacidad'][riesgo.historial[i].impactoUsuarios]}}</td>
                    </tr>
                </table>
                <br>
                <h5 class="text-center"><b>Detalles de la actualización del riesgo</b></h5>
                <p>{{riesgo.historial[i].detalles}}</p>
                {% if riesgo.historial[i].fecha in detalle_activo %}
                {% if detalle_activo[riesgo.historial[i].fecha][1] in riesgo.historial[i].detalles %}
                <p><b>Detalles de la actualización del activo.</b></p>
                <table class="table">
                    <thead>
                        <th>Confidencialidad</th>
                        <th>Disponibilidad</th>
                        <th>Integridad</th>
                        <th>Sensibilidad</th>
                    </thead>
                    <tbody>
                        <td>{{detalle_activo[riesgo.historial[i].fecha][0].confidencialidad}}</td>
                        <td>{{detalle_activo[riesgo.historial[i].fecha][0].disponibilidad}}</td>
                        <td>{{detalle_activo[riesgo.historial[i].fecha][0].integridad}}</td>
                        <td>{{detalle_activo[riesgo.historial[i].fecha][0].sensibilidad}}</td>
                    </tbody>
                </table>
                {% endif %}
                {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endfor %}

<script>
    $(document).ready(function () {
        var table = $('.table-main').DataTable({
            "lengthChange": false,
            "paging": false,
            "info": false,
            "language": {
                "search": "",  // Eliminar el texto "Buscar:"
                "searchPlaceholder": "Buscar Activo o Tipo",  // Establecer el marcador de posición
                "zeroRecords": "No se encontraron registros coincidentes"
            },
            "columnDefs": [
                {
                    "orderable": false,
                    "searchable": true,
                    "targets": [0, 3]
                },
                {
                    "orderable": false,
                    "searchable": false,
                    "targets": [1, 2, 4]
                }
            ]
        });

        $('#filter-month').prop('disabled', true);

        $('#filter-year').on('change', function () {
            var year = $(this).val();
            if (year) {
                table.column(0).search(year + '-', true, false).draw();
                $('#filter-month').prop('disabled', false);
                $('#filter-month').val('')
                $('#filter-month').on('change', function () {
                    var month = $(this).val();
                    if (month) {
                        table.column(0).search(year + '-' + month + '-', true, false).draw();
                    }
                    else {
                        table.column(0).search(year + '-', true, false).draw();
                    }
                });
            }
            else {
                $('#filter-month').prop('disabled', true);
                $('#filter-month').val('')
                table.column(0).search(year + '-', true, false).draw();
            }
        });

        $('.dataTables_filter').css('display', 'none')

    });
</script>

{% endblock %}