{% extends "templateSimple.html" %}

{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="row pt-2" id="alertRow">
    <div class="alert alert-{{messages[0]}} alert-dismissible fade show" role="alert">
        {{messages[1]}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" id="closeAlert"></button>
    </div>
</div>
{% endif %}
{% endwith %}
<div class="row pt-5">
    <div class="col-3"></div>
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <div class="mb-3">
                    <img src="{{url_for('static', filename='img/logo_login.png')}}" class="rounded mx-auto d-block" style="height: 250px; width: 250px;">
                </div>
                <div class="mb-3 text-center">
                    <h2>Cambio de contraseña</h2>
                    <p>Ingrese la nueva contraseña</p>
                </div>
                <div class="mb-3 text-justify">
                    <p>La contraseña debe cumplir con las siguientes condiciones:</p>
                    <ul>
                        <li>Minimo de 8 Caracteres</li>
                        <li>Al menos 1 Mayúscula</li>
                        <li>Al menos 1 Número</li>
                        <li>Al menos 1 Carácter especial</li>
                    </ul>
                </div>
                <form action="/update-password" method="post" autocomplete="off" id="formulario">
                    <div class="mb-3">
                        <input type="password" name="password-new" class="form-control password" placeholder="Nueva Contraseña" required>
                        <span class="fa fa-fw fa-eye password-icon show-password"></span>
                    </div>
                    <div class="mb-3">
                        <input type="password" name="new-password" class="form-control password" placeholder="Confirmar Contraseña" required>
                    </div>
                    <div class="mb-3">
                        <button type="submit" class="btn btn-dark w-100 bg-black">Cambiar Contraseña</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-3"></div>
</div>
{% endblock %}