{% extends "templateSideBar.html" %}

{% block username %} {{usuario.nombre}} {% endblock %}

{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="row pt-5" id="alertRow">
    <div class="alert alert-{{messages[0]}} alert-dismissible fade show" role="alert">
        {{messages[1]}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" id="closeAlert"></button>
    </div>
</div>
{% endif %}
{% endwith %}
<div class="row pt-2 text-justify">
    <h2>{{proyecto.nombre}}</h2>
    <p>{{proyecto.descripcion}}</p>
    <style>
        .matriz-riesgos {
            width: 100%;
            border-collapse: collapse;
        }

        .matriz-riesgos, .matriz-riesgos th, .matriz-riesgos td {
            border: 1px solid black;
        }

        th, td {
            text-align: center;
            padding: 10px;
        }

        .riesgo {
            color: white;
        }
        .insignificante {
            background-color: lightseagreen;
        }


        .bajo {
            background-color: green;
        }

        .medio {
            background-color: yellow;
            color: black; /* Mejorar contraste */
        }

        .alto {
            background-color: orange;
        }
        .critico {
            background-color: red;
        }
    </style>
</head>
<body>
    <table class="matriz-riesgos">
        <thead>
            <tr>
                <th>Impacto / Probabilidad</th>
                <th>Bajo</th>
                <th>Medio</th>
                <th>Alto</th>
            </tr>
        </thead>
        {% if riesgos_umbrales %}
        {% for riesgo in riesgos_umbrales %}
        <tbody>
            
            <tr>
                <td>Alto</td>

                
                {% set riesgos_bajo_alto = [] %}
                {% for r in riesgos_umbrales if r[0].probabilidad == 'Bajo' and r[0].impacto == 'Alto' %}
                    {% set _ = riesgos_bajo_alto.append(r[0]) %}
                {% endfor %}
                {% if riesgos_bajo_alto %}
                    <td class="riesgo medio">
                        {% for r in riesgos_bajo_alto %}
                            {{ r.clave }},
                        {% endfor %}
                    </td>
                {% else %}
                <td class="riesgo medio">Riesgo Medio</td>
                {% endif %}

                {% set riesgos_medio_alto = [] %}
                {% for r in riesgos_umbrales if r[0].probabilidad == 'Medio' and r[0].impacto == 'Alto' %}
                    {% set _ = riesgos_medio_alto.append(r[0]) %}
                {% endfor %}
                {% if riesgos_medio_alto %}
                    <td class="riesgo alto">
                        {% for r in riesgos_medio_alto %}
                            {{ r.clave }},
                        {% endfor %}
                    </td>
                {% else %}
                <td class="riesgo alto">Riesgo Alto</td>
                {% endif %}
                
                {% set riesgos_alto_alto = [] %}
                {% for r in riesgos_umbrales if r[0].probabilidad == 'Alto' and r[0].impacto == 'Alto' %}
                    {% set _ = riesgos_alto_alto.append(r[0]) %}
                {% endfor %}
                {% if riesgos_alto_alto %}
                    <td class="riesgo critico">
                        {% for r in riesgos_alto_alto %}
                            {{ r.clave }},
                        {% endfor %}
                    </td>
                {% else %}
                    <td class="riesgo critico">Riesgo Critico</td>
                {% endif %}
                
                

            </tr>
            <tr>
                <td>Medio</td>

                {% set riesgos_bajo_medio = [] %}
                {% for r in riesgos_umbrales if r[0].probabilidad == 'Bajo' and r[0].impacto == 'Medio' %}
                    {% set _ = riesgos_bajo_medio.append(r[0]) %}
                {% endfor %}
                {% if riesgos_bajo_medio %}
                    <td class="riesgo bajo">
                        {% for r in riesgos_bajo_medio %}
                            {{ r.clave }},
                        {% endfor %}
                    </td>
                {% else %}
                    <td class="riesgo bajo">Riesgo Bajo</td>
                {% endif %}
                
                {% set riesgos_medio_medio = [] %}
                {% for r in riesgos_umbrales if r[0].probabilidad == 'Medio' and r[0].impacto == 'Medio' %}
                    {% set _ = riesgos_medio_medio.append(r[0]) %}
                {% endfor %}
                {% if riesgos_medio_medio %}
                    <td class="riesgo medio">
                        {% for r in riesgos_medio_medio %}
                            {{ r.clave }},
                        {% endfor %}
                    </td>
                {% else %}
                    <td class="riesgo medio">Riesgo Medio</td>
                {% endif %}

                {% set riesgos_alto_medio = [] %}
                {% for r in riesgos_umbrales if r[0].probabilidad == 'Alto' and r[0].impacto == 'Medio' %}
                    {% set _ = riesgos_alto_medio.append(r[0]) %}
                {% endfor %}
                {% if riesgos_alto_medio %}
                    <td class="riesgo alto">
                        {% for r in riesgos_alto_medio %}
                            {{ r.clave }},
                        {% endfor %}
                    </td>
                {% else %}
                    <td class="riesgo alto">Riesgo Alto</td>
                {% endif %}
                
                
                
                
            </tr>
            <tr>
                <td>Bajo</td>

                {% set riesgos_bajo_bajo = [] %}
                {% for r in riesgos_umbrales if r[0].probabilidad == 'Bajo' and r[0].impacto == 'Bajo' %}
                    {% set _ = riesgos_bajo_bajo.append(r[0]) %}
                {% endfor %}
                {% if riesgos_bajo_bajo %}
                    <td class="riesgo insignificante">
                        {% for r in riesgos_bajo_bajo %}
                            {{ r.clave }},
                        {% endfor %}
                    </td>
                {% else %}
                    <td class="riesgo insignificante">Riesgo Insignificante</td>
                {% endif %}
                
                {% set riesgos_medio_bajo = [] %}
                {% for r in riesgos_umbrales if r[0].probabilidad == 'Medio' and r[0].impacto == 'Bajo' %}
                    {% set _ = riesgos_medio_bajo.append(r[0]) %}
                {% endfor %}
                {% if riesgos_medio_bajo %}
                    <td class="riesgo bajo">
                        {% for r in riesgos_medio_bajo %}
                            {{ r.clave }},
                        {% endfor %}
                    </td>
                {% else %}
                    <td class="riesgo bajo">Riesgo Bajo</td>
                {% endif %}
                
                {% set riesgos_alto_bajo = [] %}
                {% for r in riesgos_umbrales if r[0].probabilidad == 'Alto' and r[0].impacto == 'Bajo' %}
                    {% set _ = riesgos_alto_bajo.append(r[0]) %}
                {% endfor %}
                {% if riesgos_alto_bajo %}
                    <td class="riesgo medio">
                        {% for r in riesgos_alto_bajo %}
                            {{ r.clave }},
                        {% endfor %}
                    </td>
                {% else %}
                    <td class="riesgo medio">Riesgo Medio</td>
                {% endif %}

                
                
                
            </tr>

        </tbody>
    </table>
        {% endfor %}
        {% else %}
        <tbody>
            <tr>
                <td>Alto</td>
                <td class="riesgo medio">Riesgo Medio</td>
                <td class="riesgo alto">Riesgo Alto</td>
                <td class="riesgo critico">Riesgo Critico</td>
            </tr>
            <tr>
                <td>Medio</td>
                <td class="riesgo bajo">Riesgo Bajo</td>
                <td class="riesgo medio">Riesgo Medio</td>
                <td class="riesgo alto">Riesgo Alto</td>
            </tr>
            <tr>
                <td>Bajo</td>
                <td class="riesgo insignificante">Riesgo Insignificante</td>
                <td class="riesgo bajo">Riesgo Bajo</td>
                <td class="riesgo medio">Riesgo Medio</td>
            </tr>
        </tbody>
    </table>
        <h4>No hay riesgos disponibles</h4>
{% endif %}
    


</div>
{% endblock %}
    