{% extends "templateNoSideBar.html" %}

{% block username %} {{usuario.nombre}} {% endblock %}

{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="row pt-5" id="alertRow">
    <div class="alert alert-{{messages[0]}} alert-dismissible fade show" role="alert">
        {{messages[1]}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" id="closeAlert"></button>
    </div>
</div>
{% endif %}
{% endwith %}
<div class="row pt-2"></div>
<div class="row pt-5 text-center">
    <h3>Acciones asignadas en {{proyecto.nombre}}</h3>
    <p>A continuación, se presenta el listado de acciones que el gestor de riesgos del proyecto se le ha asignado.</p>
</div>
<hr>
<div class="row pt-2">
    <div class="col-2">
        <form action="/regresar-proyectosP">
            <button type="submit" class="btn btn-dark bg-black"><i class="fa-solid fa-chevron-left"></i></button>
        </form>
    </div>
    <div class="col-10"></div>
</div>
<div class="row pt-2">
    <div class="table-responsive">
        <table class="table">
            <thead>
                <th>Clave</th>
                <th>Nombre</th>
                <th>Estado</th>
                <th>Porcentaje</th>
                <th>Fecha limite</th>
                <th>Acciones</th>
            </thead>
            <tbody>
                {% for accion in acciones %}
                    <tr>
                        <td>{{accion.clave}}</td>
                        <td>{{accion.nombre}}</td>
                        <td>{{accion.estado}}</td>
                        <td>{{accion.porcentaje}}</td>
                        <td>{{accion.fechaFin}}</td>
                        <td>
                            <button type="button" class="btn btn-light btn-more" data-bs-toggle="modal"
                            data-bs-target="#Ventana{{accion.idAccion}}"><i class="fa fa-eye"></i></button>
                            {% if accion.estado == 'Cancelado' or accion.estado == 'Finalizado' %}
                                <a href="#" class="btn btn-success disabled"><i class="fa fa-pencil"></i></a>
                            {% else %}
                                <a href="/modificar-estado-accion/{{accion.idAccion}}" class="btn btn-success"><i class="fa fa-pencil"></i></a>
                            {% endif %}
                            
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% for accion in acciones %}
<div class="modal fade" id="Ventana{{accion.idAccion}}" data-bs-backdrop="static" data-bs-keyboard="false"
    tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Detalles de la Accion</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-justify">
                <p><b>Descripción: </b>{{accion.descripcion}}</p>
                <p><b>Objetivo: </b>{{accion.objetivo}}</p>
                <p><b>Categoria: </b>{{accion.categoria}}</p>
                <p><b>Control: </b>{{accion.control}}</p>
                {% if accion.detalles %}
                <p><b>Detalles del Estado</b> {{accion.detalles}}</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}