{% extends "templateSideBar.html" %}

{% block username %} {{usuario.nombre}} {% endblock %}

{% block content %}
<div class="row pt-2">
    <div class="col-12">
        <div class="card">
            <div class="card-header text-center">
                <h2>Modificación de Activos</h2>
            </div>
            <div class="card-body">
                <form action="/actualizar-activos" method="post" autocomplete="off">
                    <div class="row">
                        <div class="mb-3">
                            <input type="hidden" name="idactivo" class="form-control" value="{{activo.idActivo}}" readonly>
                        </div>
                    </div>
                    <div class="row">
                        <div class="mb-3">
                            <label class="form-label">Clave del Activo</label>
                            <input type="text" name="clave" class="form-control" placeholder="Clave del Activo" value="{{activo.clave}}" required autofocus>
                        </div>
                    </div>
                    <div class="row">
                        <div class="mb-3">
                            <label class="form-label">Nombre del Activo</label>
                            <input type="text" name="nombre" class="form-control" placeholder="Nombre del activo" value="{{activo.nombre}}"
                                required autofocus>
                        </div>
                    </div>
                    <div class="row">
                        <div class="mb-3">
                            <label class="form-label">Descripción del Activo</label>
                            <textarea name="descripcion" cols="30" rows="5" class="form-control"
                                placeholder="Descripción completa del activo(Sin saltos de linea)">{{activo.descripcion}}</textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="mb-3">
                            <label class="form-label">Propietario del Activo</label>
                            <input type="text" name="propietario" class="form-control" value="{{activo.propietario}}"
                                placeholder="Nombre del Propietario" required autofocus>
                        </div>
                    </div>
                    <div class="row">
                        <div class="mb-3">
                            <label class="form-label">Ubicación</label>
                            <input type="text" name="ubicacion" class="form-control" value="{{activo.ubicacion}}"
                                placeholder="Ubicación Física/Lógica del activo" required autofocus>
                        </div>
                    </div>
                    <div class="row">
                        <div class="mb-3">
                            <label class="form-label">Tipo de Activo</label>
                            <select name="tipo" class="form-select" style="white-space: pre-line;"
                                required>
                                {% for opcion in tiposActivo %}
                                {% if activo.tipoActivo == opcion %}
                                    <option value="{{opcion}}" selected>{{opcion}}</option>
                                {% else %}
                                    <option value="{{opcion}}">{{opcion}}</option>
                                {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="mb-3">
                            <label class="form-label">Estatus</label>
                            <select name="estatus" class="form-select" style="white-space: pre-line;"
                                required>
                                {% for opcion in estatus %}
                                {% if activo.estatus == opcion %}
                                    <option value="{{opcion}}" selected>{{opcion}}</option>
                                {% else %}
                                    <option value="{{opcion}}">{{opcion}}</option>
                                {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="mb-3">
                            <label class="form-label">Frecuencia de Mantenimiento</label>
                            <select name="frecM" class="form-select" style="white-space: pre-line;"
                                required>
                                {% for opcion in frecuencia %}
                                {% if activo.frecMantenimiento == opcion %}
                                    <option value="{{opcion}}" selected>{{opcion}}</option>
                                {% else %}
                                    <option value="{{opcion}}">{{opcion}}</option>
                                {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="mb-3">
                            <label class="form-label">Frecuencia de Renovación</label>
                            <select name="frecR" class="form-select" style="white-space: pre-line;"
                                required>
                                {% for opcion in frecuencia %}
                                {% if activo.frecRenovacion == opcion %}
                                    <option value="{{opcion}}" selected>{{opcion}}</option>
                                {% else %}
                                    <option value="{{opcion}}">{{opcion}}</option>
                                {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="mb-3">
                            <label class="form-label">Fecha de Adquisición</label>
                            <input type="date" name="fecha" value="{{activo.fechaAdquisicion}}" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="mb-3">
                            <button type="submit" class="btn btn-dark bg-black w-100">Modificar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}