{% extends "templateSideBar.html" %}

{% block username %} {{usuario.nombre}} {% endblock %}

{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="row pt-5" id="alertRow">
    <div class="alert alert-{{messages[0]}} alert-dismissible fade show" role="alert">
        {{messages[1]}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" id="closeAlert"></button>
    </div>
</div>
{% endif %}
{% endwith %}
<div class="row pt-2">
    <h2>Activos</h2>
</div>
<div class="row pt-2">
    <div class="modal fade" id="VentanaAdd" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Registrar Activo</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="/anadir-activos" method="post" autocomplete="off">
                        <div class="row">
                            <div class="mb-3">
                                <input type="text" name="clave" class="form-control" placeholder="Clave del Activo"
                                    required autofocus>
                            </div>
                        </div>
                        <div class="row">
                            <div class="mb-3">
                                <input type="text" name="nombre" class="form-control" placeholder="Nombre del activo"
                                    required autofocus>
                            </div>
                        </div>
                        <div class="row">
                            <div class="mb-3">
                                <textarea name="descripcion" cols="30" rows="5" class="form-control"
                                    placeholder="Descripción completa del activo(Sin saltos de linea)"></textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="mb-3">
                                <input type="text" name="propietario" class="form-control"
                                    placeholder="Nombre del Propietario" required autofocus>
                            </div>
                        </div>
                        <div class="row">
                            <div class="mb-3">
                                <input type="text" name="ubicacion" class="form-control"
                                    placeholder="Ubicación Física/Lógica del activo" required autofocus>
                            </div>
                        </div>
                        <div class="row">
                            <div class="mb-3">
                                <label class="form-label">Tipo de Activo</label>
                                <select name="tipo" class="form-select" style="white-space: pre-line;" required>
                                    {% for opcion in tiposActivo %}
                                    <option value="{{opcion}}">{{opcion}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="mb-3">
                                <label class="form-label">Estatus</label>
                                <select name="estatus" class="form-select" style="white-space: pre-line;" required>
                                    {% for opcion in estatus %}
                                    <option value="{{opcion}}">{{opcion}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="mb-3">
                                <label class="form-label">Frecuencia de Mantenimiento</label>
                                <select name="frecM" class="form-select" style="white-space: pre-line;" required>
                                    {% for opcion in frecuencia %}
                                    <option value="{{opcion}}">{{opcion}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="mb-3">
                                <label class="form-label">Frecuencia de Renovación</label>
                                <select name="frecR" class="form-select" style="white-space: pre-line;" required>
                                    {% for opcion in frecuencia %}
                                    <option value="{{opcion}}">{{opcion}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="mb-3">
                                <label class="form-label">Fecha de Adquisición</label>
                                <input type="date" name="fecha" class="form-control">
                            </div>
                        </div>
                        <div class="row">
                            <div class="mb-3">
                                <button type="submit" class="btn btn-dark bg-black w-100">Registrar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row pt-2">
    <div class="table-responsive">
        <table class="table">
            <thead>
                <th>Clave</th>
                <th>Nombre</th>
                <th>Tipo</th>
                <th>Estatus</th>
                <th>Acciones</th>
            </thead>
            <tbody>
                {% for activo in activos %}
                <tr>
                    <td>{{ activo.clave }}</td>
                    <td>{{ activo.nombre }}</td>
                    <td>{{ activo.tipoActivo }}</td>
                    <td>{{ activo.estatus }}</td>
                    <td>
                        <button type="button" class="btn btn-light btn-more" data-bs-toggle="modal"
                            data-bs-target="#Ventana{{activo.idActivo}}"><i class="fa fa-plus"></i></button>
                        <a href="/modificar-activo/{{activo.idActivo}}" class="btn btn-success"><i
                                class="fa fa-pencil"></i></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% for activo in activos %}
<div class="modal fade" id="Ventana{{activo.idActivo}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Detalles del Activo</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-justify">
                <p><b>Descripción: </b>{{activo.descripcion}}</p>
                <p><b>Propietario: </b>{{activo.propietario}}</p>
                <p><b>Ubicación: </b>{{activo.ubicacion}}</p>
                <p><b>Frecuencia Mantenimiento: </b>{{activo.frecMantenimiento}}</p>
                <p><b>Frecuencia Renovación: </b>{{activo.frecRenovacion}}</p>
                <p><b>Frecha de Adquisicón: </b>{{activo.fechaAdquisicion}}</p>
                <p><b></b></p>
            </div>
        </div>
    </div>
</div>
{% endfor %}
<script>
    $(document).ready(function () {
        $('.table').DataTable({
            "lengthChange": false,
            "paging": false,
            "info": false,
            "language": {
                "search": "",  // Eliminar el texto "Buscar:"
                "searchPlaceholder": "Buscar Activo o Tipo",  // Establecer el marcador de posición
                "zeroRecords": "No se encontraron registros coincidentes"
            },
            "columnDefs": [
                {
                    "orderable": false,
                    "searchable": true,
                    "targets": [0]
                },
                {
                    "orderable": false,
                    "searchable": false,
                    "targets": [1]
                },
                {
                    "orderable": false,
                    "searchable": true,
                    "targets": [2]
                },
                {
                    "orderable": false,
                    "searchable": false,
                    "targets": [-1]
                }
            ]
        });
        var addButton = $('<button type="button" class="btn btn-dark bg-black ml-2" data-bs-toggle="modal" data-bs-target="#VentanaAdd">Añadir Activo</button>');

        // Insertar el botón antes de la barra de búsqueda
        $('.dataTables_filter').prepend(addButton);

        // Ajustar manualmente el ancho del botón
        addButton.width(784); // Ajusta el valor según sea necesario

        var alturaBarraBusqueda = $('.dataTables_filter').outerHeight();
        addButton.height(alturaBarraBusqueda - 18);

        addButton.css('margin-right', '10px');
    });
</script>

{% endblock %}