{% extends "templateSideBar.html" %}

{% block username %} {{usuario.nombre}} {% endblock %}

{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="row pt-5" id="alertRow">
    <div class="alert alert-{{messages[0]}} alert-dismissible fade show" role="alert">
        {{messages[1]}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" id="closeAlert"></button>
    </div>
</div>
{% endif %}
{% endwith %}
<div class="row pt-2">
    <h2>Participantes del Proyecto</h2>
</div>
<div class="row pt-2">
    <div class="modal fade" id="VentanaAdd2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Registrar Cuenta de Particicpante</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="/anadir-nuevo-participante" method="post" autocomplete="off" id="formulario">
                        <div class="mb-3">
                            <input type="text" name="nombre" class="form-control" placeholder="Nombre(s)" required
                                autofocus>
                        </div>
                        <div class="mb-3">
                            <input type="text" name="aPaterno" class="form-control" placeholder="Apellido Paterno"
                                required>
                        </div>
                        <div class="mb-3">
                            <input type="text" name="aMaterno" class="form-control" placeholder="Apellido Materno"
                                required>
                        </div>
                        <div class="mb-3">
                            <input type="email" name="email" class="form-control" placeholder="E-Mail" required>
                        </div>
                        <div class="mb-3">
                            <input type="tel" name="tel" class="form-control" placeholder="Télefono" required>
                            <div class="form-text">Ejemplos: 55-1234-5678 ó 56-1234-5678</div>
                        </div>
                        <div class="mb-3">
                            <input type="text" name="departamento" class="form-control" placeholder="Departmamento"
                                required>
                        </div>
                        <div class="mb-3">
                            <input type="text" name="cargo" class="form-control" placeholder="Cargo" required>
                        </div>
                        <div class="mb-3">
                            <input type="text" name="password" class="form-control" placeholder="Contraseña" required>
                        </div>
                        <div class="mb-3">
                            <button type="submit" class="btn btn-dark bg-black w-100">Registrar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row pt-2">
    <form action="/anadir-participante" method="post">
        <div class="row">
            <div class="col-6">
                <input type="text" class="form-control" name="correo" id="email_auto"
                    placeholder="Ingrese el correo del participante" required>
                <!-- <select name="idParticipante" class="form-select" style="white-space: pre-line;" required>
                    {% for participante in participantes_listado %}
                    <option value="{{participante.idUsuario}}">{{participante.correo}}</option>
                    {% endfor %}
                </select> -->
            </div>
            <div class="col-3">
                <button type="submit" class="btn btn-dark bg-black w-100">Añadir</button>
            </div>
            <div class="col-3">
                <button type="button" class="btn btn-dark bg-black w-100" data-bs-toggle="modal"
                    data-bs-target="#VentanaAdd2">Crear
                    Cuenta de Participante</button>
            </div>
        </div>
    </form>
</div>
<div class="row pt-2">
    <div class="table-responsive">
        <table class="table table-main align-middle">
            <thead>
                <th>Nombre</th>
                <th>Correo</th>
                <th>Departamento</th>
                <th>Estado</th>
                <th>Acciones</th>
            </thead>
            <tbody>
                {% for participante in participantes_proyecto %}
                {% if participante[0].rol != 0 %}
                <tr>
                    <td>{{ participante[0].nombre }}</td>
                    <td>{{ participante[0].correo }}</td>
                    <td>{{ participante[0].departamento }}</td>
                    <td>{{ participante[1] }}</td>
                    <td>
                        <button type="button" class="btn btn-light btn-more" data-bs-toggle="modal"
                            data-bs-target="#Ventana{{participante[0].idUsuario}}"><i class="fa fa-plus"></i></button>
                        <button type="button" class="btn btn-success" data-bs-toggle="modal"
                            data-bs-target="#Ventana{{participante[0].idUsuario}}_E"><i class="fa fa-pencil"></i></button>
                        <a href="/expulsar-participante/{{participante[0].idUsuario}}"
                            class="btn btn-danger btn-delete"><i class="fa fa-trash"></i></a>
                    </td>
                </tr>
                {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% for participante in participantes_proyecto %}
<div class="modal fade" id="Ventana{{participante[0].idUsuario}}" data-bs-backdrop="static" data-bs-keyboard="false"
    tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Detalles del Participante</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-justify">
                <p><b>Nombre completo del Participante: </b>{{participante[0].nombre}}
                    {{participante[0].apellidoPaterno}} {{participante[0].apellidoMaterno}}</p>
                <p><b>Correo electrónico: </b>{{participante[0].correo}}</p>
                <p><b>Teléfono: </b>{{participante[0].telefono}}</p>
                <p><b>Departamento: </b>{{participante[0].departamento}}</p>
                <p><b>Cargo: </b>{{participante[0].cargo}}</p>
                {% if participante[3] %}
                <p><b>Acciones asignadas: </b></p>
                <table class="table">
                    <thead>
                        <th>Clave</th>
                        <th>Nombre</th>
                        <th>Estado</th>
                    </thead>
                    <tbody>
                        {% for accion in participante[3] %}
                            <tr>
                                <td>{{accion.clave}}</td>
                                <td>{{accion.nombre}}</td>
                                <td>{{accion.estado}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% for participante in participantes_proyecto %}
<div class="modal fade" id="Ventana{{participante[0].idUsuario}}_E" data-bs-backdrop="static" data-bs-keyboard="false"
    tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Editar estado Participante</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-justify">
                <div class="row">
                    <p><b>Advertencia: </b>Al cambiar el estado de un usuario de "Activo" a "Suspendido", este no podrá
                        acceder a su cuenta, se eliminarán todas las acciones asignadas y no podrá participar en la
                        creación de nuevas acciones para riesgos. No obstante, es importante destacar que este estado
                        puede revertirse si es necesario.</p>
                </div>
                <div class="row pt-1">
                    <form action="/editar-estado-participante" method="post">
                        <div class="row">
                            <div class="mb-3">
                                <input type="hidden" name="idParticipante" class="form-control" value="{{participante[2]}}" readonly>
                            </div>
                        </div>
                        <div class="row">
                            <div class="mb-3">
                                <label class="form-label">Estado del participante</label>
                                <select name="estado" class="form-select" style="white-space: pre-line;" required>
                                {% if participante[1] == 'Activo'%}
                                    <option value="Activo" selected>Activo</option>
                                    <option value="Suspendido">Suspendido</option>
                                {% else %}
                                    <option value="Activo">Activo</option>
                                    <option value="Suspendido" selected>Suspendido</option>
                                {% endif %}
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="mb-3">
                                <button type="submit" class="btn btn-dark bg-black w-100">Cambiar estado</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
<script>
    $(function () {
        $.ajax({ url: '/get_participantes' }).done(function (data) {
            $('#email_auto').autocomplete({
                source: data,
                minLength: 1
            });
        });
    });
    $(document).ready(function () {
        $('.table-main').DataTable({
            "lengthChange": false,
            "paging": false,
            "info": false,
            "language": {
                "search": "",  // Eliminar el texto "Buscar:"
                "searchPlaceholder": "Buscar Participante",  // Establecer el marcador de posición
                "zeroRecords": "No se encontraron registros coincidentes"
            },
            "columnDefs": [
                {
                    "orderable": false,
                    "searchable": true,
                    "targets": [0, 1, 2, 3]
                },
                {
                    "orderable": false,
                    "searchable": false,
                    "targets": [-1],
                }
            ]
        });
    });
</script>
{% endblock %}