{% extends "templateSideBar.html" %}

{% block username %} {{usuario.nombre}} {% endblock %}

{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="row pt-5" id="alertRow">
    <div class="alert alert-{{messages[0]}} alert-dismissible fade show" role="alert">
        {{messages[1]}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" id="closeAlert"></button>
    </div>
</div>
{% endif %}
{% endwith %}

<div class="row pt-2">
    <h2>Acciones</h2>
</div>
<div class="row pt-2">
    <div class="modal fade" id="VentanaAddAccion" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Registrar Accion</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="/anadir-accion" id="formularioAccion" method="post" autocomplete="off">
                        <script>
                            $(function () {
                                $('[data-toggle="tooltip"]').tooltip()
                            })
                        </script>
                        <div class="row">
                            <div class="mb-3">
                                <input type="text" name="clave" class="form-control"
                                    placeholder="Clave de identificación de la acción" required autofocus>
                            </div>
                        </div>
                        <div class="row">
                            <div class="mb-3">
                                <input type="text" name="nombre" class="form-control" placeholder="Nombre de la acción"
                                    required autofocus>
                            </div>
                        </div>

                        <div class="row">
                            <div class="mb-3">
                                <label class="form-label">Riesgo</label>
                                <select name="idRiesgo" class="form-select" style="white-space: pre-line;" required>
                                    {% for clave in dictRiesgos.keys() %}
                                    <option value="{{dictRiesgos[clave]['riesgo'].idRiesgo}}">
                                        {{dictRiesgos[clave]['riesgo'].clave}} - {{dictRiesgos[clave]['riesgo'].nombre}}
                                    </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        

                        <div class="row">
                            <div class="mb-3">
                                <label class="form-label">Objetivo</label>
                                <i class="fa-solid fa-circle-info" data-toggle="tooltip" data-html="true"
                                    title="Al realizar esta acción, se trata al riesgo, con uno de estos objetivos"></i>
                                <select name="objetivo" class="form-select" style="white-space: pre-line;" required>
                                    {% for objetivo, valorObjetivo in objetivos.items() %}
                                    <option value="{{objetivo}}"> {{objetivo}}: {{valorObjetivo}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>



                        {% set selected_categoria = '' %}

                        <div class="row">
                            <div class="mb-3">
                                <label class="form-label">Categoria</label>
                                <select id="categoriaSelect" name="categoria" class="form-select"
                                    style="white-space: pre-line;" required>
                                    {% for valor, categoria in categoriasISO27001.items() %}
                                    <option value="{{valor}}">{{valor}}: {{categoria}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>


                        <div class="row">
                            <div class="mb-3">
                                <label class="form-label">Control</label>
                                <select id="controlSelect" name="control" class="form-select"
                                    style="white-space: pre-line;" required>
                                    <option value="">Seleccione una categoría primero</option>
                                </select>
                            </div>
                        </div>

                        <div class="row">
                            <div class="mb-3">
                                <textarea name="descripcion" cols="30" rows="5" class="form-control"
                                    placeholder="Descripción completa de la accion (Sin saltos de linea)"></textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="mb-3">
                                <label class="form-label">Responsable</label>
                                <i class="fa-solid fa-circle-info" data-toggle="tooltip" data-placement="top"
                                    title="Participante del proyecto que se encargará de revisar el desarrollo de la acción"></i>
                                <select name="idUsuario" class="form-select" style="white-space: pre-line;" required>
                                    {% for responsable in usuarios_listado %}
                                    <option value="{{responsable.idUsuario}}">{{responsable.nombre}} -
                                        {{responsable.departamento}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="row">
                            <div class="mb-3">
                                <label class="form-label">Fecha de Inicio</label>
                                <input id="fechaIni" type="date" name="fechaIni" class="form-control">
                            </div>
                        </div>

                        <div class="row">
                            <div class="mb-3">
                                <label class="form-label">Fecha de Fin</label>
                                <input id="fechaFin" type="date" name="fechaFin" class="form-control">
                            </div>
                        </div>

                        <div class="row">
                            <div class="mb-3">
                                <label class="form-label">Fecha de Notificacion</label>
                                <input id="fechaAviso" type="date" name="fechaAviso" class="form-control">
                            </div>
                        </div>

                        <hr>

                        <script>
                            // Captura el evento de cambio en el primer combo box
                            document.getElementById('categoriaSelect').addEventListener('change', function () {
                                // Obtiene el valor seleccionado
                                var selectedValue = this.value;

                                // Obtiene el segundo combo box
                                var controlSelect = document.getElementById('controlSelect');

                                // Limpia las opciones anteriores del segundo combo box
                                controlSelect.innerHTML = '<option value="">Seleccione un control</option>';

                                // Si se selecciona una categoría válida, actualiza el segundo combo box
                                if (selectedValue !== '') {
                                    var controls = JSON.parse('{{ controlesISO27001 | tojson | safe }}')[selectedValue];
                                    for (var clave in controls) {
                                        var control = controls[clave];
                                        var option = document.createElement('option');
                                        option.value = clave;
                                        option.textContent = clave + ': ' + control;
                                        controlSelect.appendChild(option);
                                    }
                                }
                            });
                        </script>

                        <script>
                            // Obtener la fecha actual
                            var today = new Date();
                            var dd = String(today.getDate()).padStart(2, '0');
                            var mm = String(today.getMonth() + 1).padStart(2, '0'); // Enero es 0
                            var yyyy = today.getFullYear();
                            var todayString = yyyy + '-' + mm + '-' + dd;

                            // Establecer la fecha mínima para la fecha de inicio
                            document.getElementById('fechaIni').setAttribute('min', todayString);

                            // Asignar una función de validación al cambio de la fecha de inicio
                            document.getElementById('fechaIni').addEventListener('change', function () {
                                // Obtener el valor de la fecha de inicio y de fin
                                var fechaIni = new Date(this.value);
                                var fechaFin = new Date(document.getElementById('fechaFin').value);



                                // Validar que la fecha de fin sea posterior a la fecha de inicio
                                if (fechaFin <= fechaIni) {
                                    alert('La fecha de fin debe ser posterior a la fecha de inicio');
                                    document.getElementById('fechaFin').value = ''; // Limpiar el valor
                                }
                            });

                            // Asignar una función de validación al cambio de la fecha de fin
                            document.getElementById('fechaFin').addEventListener('change', function () {
                                // Obtener el valor de la fecha de inicio y de fin
                                var fechaIni = new Date(document.getElementById('fechaIni').value);
                                var fechaFin = new Date(this.value);

                                // Validar que la fecha de fin sea posterior a la fecha de inicio
                                if (fechaFin <= fechaIni) {
                                    alert('La fecha de fin debe ser posterior a la fecha de inicio');
                                    this.value = ''; // Limpiar el valor
                                }
                            });


                            document.getElementById('fechaAviso').addEventListener('change', function () {
                                // Obtener el valor de la fecha de inicio y de fin
                                var fechaFin = new Date(document.getElementById('fechaFin').value);
                                var fechaAviso = new Date(this.value);

                                // Validar que la fecha de fin sea posterior a la fecha de inicio
                                if (fechaAviso >= fechaFin) {
                                    alert('La fecha de notificacion debe ser antes a la fecha de fin');
                                    this.value = ''; // Limpiar el valor
                                }
                            });

                        </script>

                        <div class="row">
                            <div class="mb-3">
                                <button type="submit" class="btn btn-dark bg-black w-100">Registrar</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="row pt-2">
    <div class="table-responsive">
        <table class="table table-main align-middle">
            <thead>
                <tr>
                    <th>Clave</th>
                    <th>Fecha Fin</th>
                    <th>Clave Riesgo</th>
                    <th class="custom-sort">Umbral Total</th>
                    <th>Estatus</th>
                    <th>Porcentaje</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for accion in acciones %}
                <tr>
                    <td>{{ accion[0].clave }}</td>
                    <td>{{ accion[0].fechaFin }}</td>
                    <td>{{ accion[2].clave }}</td>
                    {% for clave in dictRiesgos.keys() %}
                    {% if clave == accion[2].clave %}
                    {% if dictRiesgos[clave]['activos'][0][3] == 'Insignificante' %}
                    <td class="bg-info">{{ dictRiesgos[clave]['activos'][0][3] }}</td>
                    {% elif dictRiesgos[clave]['activos'][0][3] == 'Bajo' %}
                    <td class="bg-success">{{ dictRiesgos[clave]['activos'][0][3] }}</td>
                    {% elif dictRiesgos[clave]['activos'][0][3] == 'Medio' %}
                    <td style="background-color: rgb(255, 214, 31); color: black;">{{
                        dictRiesgos[clave]['activos'][0][3] }}</td>
                    {% elif dictRiesgos[clave]['activos'][0][3] == 'Alto' %}
                    <td style="background-color: rgb(255, 145, 0); color: black;">{{ dictRiesgos[clave]['activos'][0][3]
                        }}</td>
                    {% else %}
                    <td class="bg-danger">{{ dictRiesgos[clave]['activos'][0][3] }}</td>
                    {% endif %}
                    {% endif %}
                    {% endfor %}

                    <td>{{ accion[0].estado }}</td>
                    <td>{{ accion[0].porcentaje }}</td>
                    <td>
                        <button type="button" class="btn btn-light btn-more" data-bs-toggle="modal"
                            data-bs-target="#Ventana{{ accion[0].idAccion }}"><i class="fa fa-eye"></i></button>
                        <a href="/modificar-accion/{{ accion[0].idAccion }}" class="btn btn-success"><i
                                class="fa fa-pencil"></i></a>
                                <a href="/modificar-estado-accionG/{{accion[0].idAccion}}" class="btn btn-warning"><i class="fa fa-list"></i></a>
                    
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% for accion in acciones %}
<div class="modal fade" id="Ventana{{accion[0].idAccion}}" data-bs-backdrop="static" data-bs-keyboard="false"
    tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Detalles de la Accion</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-justify">
                <p><b>Porcentaje: </b>{{accion[0].porcentaje}}</p>
                {% if not accion[1].idParticipante is none %}
                <p><b>Responsable: </b>{{accion[1].nombre}} - {{accion[1].departamento}}</p>
                {% else %}
                <p><b>Responsable: Sin Asignar</p>
                {% endif %}
                <table class="table">
                    <thead>
                        <th>Fecha Inicio</th>
                        <th>Fecha Final</th>
                    </thead>
                    <tbody>
                    <tbody>
                        <tr>
                            <td class=""> {{ accion[0].fechaIni }}</td>
                            <td class=""> {{ accion[0].fechaFin }}</td>
                            </li>
                        </tr>
                    </tbody>
                </table>
                <p><b>Fecha de Notificacion: </b>{{accion[0].fechaAviso}}</p>
                <p><b>Objetivo: </b>{{accion[0].objetivo}}</p>
                <p><b>Descripción: </b>{{accion[0].descripcion}}</p>
                <p><b>Categoria: </b>{{accion[0].categoria}}</p>
                <p><b>Control: </b>{{accion[0].control}}</p>
                {% if accion[0].detalles %}
                <p><b>Detalles del estado: </b>{{accion[0].detalles}}</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endfor %}


<script>
    $(document).ready(function () {
        var customSortType = $.fn.dataTable.ext.type.order['custom-sort'];
        var order = { 'Insignificante': 1, 'Bajo': 2, 'Medio': 3, 'Alto': 4, 'Crítico': 5 };

        $.fn.dataTable.ext.type.order['custom-sort-asc'] = function (a, b) {
            return order[a] - order[b];
        };

        $.fn.dataTable.ext.type.order['custom-sort-desc'] = function (a, b) {
            return order[b] - order[a];
        };

        $('.table-main').DataTable({
            "lengthChange": false,
            "paging": false,
            "info": false,
            "language": {
                "search": "",  // Eliminar el texto "Buscar:"
                "searchPlaceholder": "Buscar Accion",  // Establecer el marcador de posición
                "zeroRecords": "No se encontraron registros coincidentes"
            },
            "columnDefs": [
                {
                    "orderable": false, // Deshabilitar ordenamiento
                    "searchable": true, // Permitir búsqueda
                    "targets": [0, 3] // Primera columna
                },
                {
                    "orderable": true, // Deshabilitar ordenamiento
                    "searchable": false, // Permitir búsqueda
                    "targets": [1, 4] // Primera columna
                },
                {
                    "orderable": true,
                    "searchable": false, // Deshabilitar búsqueda
                    "targets": "custom-sort",
                    "type": "custom-sort" // Usar el tipo de datos personalizado para la ordenación
                },
                {
                    "orderable": false, // Deshabilitar ordenamiento
                    "searchable": false, // Deshabilitar búsqueda
                    "targets": [-1] // Última columna
                }
            ]
        });

        var addButton = $('<button type="button" class="btn btn-dark bg-black ml-2" data-bs-toggle="modal" data-bs-target="#VentanaAddAccion">Añadir Acción</button>');

        // Insertar el botón antes de la barra de búsqueda
        $('.dataTables_filter').prepend(addButton);

        // Ajustar manualmente el ancho del botón
        addButton.width(200); // Ajusta el valor según sea necesario

        var alturaBarraBusqueda = $('.dataTables_filter').outerHeight();
        addButton.height(alturaBarraBusqueda - 16);

        addButton.css('margin-right', '15px');
    });
</script>
{% endblock %}