{% extends "templateSideBar.html" %}

{% block username %} {{usuario.nombre}} {% endblock %}

{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="row pt-5" id="alertRow">
    <div class="alert alert-{{messages[0]}} alert-dismissible fade show" role="alert">
        {{messages[1]}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" id="closeAlert"></button>
    </div>
</div>
{% endif %}
{% endwith %}

<div class="row pt-2">
    <h2>Acciones</h2>
</div>

<div class="row pt-2">
    <div class="table-responsive">
        <table class="table table-main align-middle">
            <thead>
                
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
</div>


{% endblock %}