{% extends "templateSideBar.html" %}

{% block username %} {{usuario.nombre}} {% endblock %}

{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="row pt-5" id="alertRow">
    <div class="alert alert-{{messages[0]}} alert-dismissible fade show" role="alert">
        {{messages[1]}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" id="closeAlert"></button>
    </div>
</div>
{% endif %}
{% endwith %}

<div class="row pt-2 text-justify">
    <h2>Acciones</h2>
    <p>En esta parte, puedes registrar todas las acciones necesarias para manejar los riesgos del proyecto. Puedes escribir qué acción debe llevarse a cabo, asignar a alguien responsable, establecer fechas límite y de notificación, y seleccionar la categoría y control de consulta de la ISO 27001. Aquí también puedes monitorear el progreso de cada acción y filtrarlas según tus necesidades.</p>
</div>
<div class="row pt-1">
    <div class="col-6">
        <button type="button" class="btn btn-dark bg-black w-100" data-bs-toggle="modal"
            data-bs-target="#VentanaAddAccion">Añadir Acción</button>
    </div>
    <div class="col-6">
        <input type="text" class="form-control w-100" id="search" name="search"
            placeholder="Buscar (Clave Acción o Riesgo)" autocomplete="off">
    </div>
</div>
<div class="row pt-2">
    <div class="col-3">
        <select class="form-select" id="filter-tipo">
            <option value="">Filtrar Tipo</option>
            <option value="Físico">Físico</option>
            <option value="Lógico">Lógico</option>
            <option value="Organizacional">Organizacional</option>
        </select>
    </div>
    <div class="col-2">
        <select class="form-select" id="filter-estado">
            <option value="">Filtrar Estado</option>
            <option value="Iniciado">Iniciado</option>
            <option value="En Proceso">En Proceso</option>
            <option value="Cancelado">Cancelado</option>
            <option value="Finalizado">Finalizado</option>
        </select>
    </div>
    <div class="col-2">
        <select id="filter-umbral" class="form-select">
            <option value="">Filtrar Umbral</option>
            <option value="Insignificante">Insignificante</option>
            <option value="Bajo">Bajo</option>
            <option value="Medio">Medio</option>
            <option value="Alto">Alto</option>
            <option value="Crítico">Crítico</option>
        </select>
    </div>
    <div class="col-1"></div>
    <div class="col-2">
        <select class="form-select" id="filter-year">
            <option value="">Filtrar Año</option>
            <option value="2024">2024</option>
            <option value="2025">2025</option>
            <option value="2026">2026</option>
            <option value="2027">2027</option>
            <option value="2028">2028</option>
            <option value="2029">2029</option>
            <option value="2030">2030</option>
        </select>
    </div>
    <div class="col-2">
        <select class="form-select" id="filter-month">
            <option value="">Filtrar Mes</option>
            <option value="01">Enero</option>
            <option value="02">Febrero</option>
            <option value="03">Marzo</option>
            <option value="04">Abril</option>
            <option value="05">Mayo</option>
            <option value="06">Junio</option>
            <option value="07">Julio</option>
            <option value="08">Agosto</option>
            <option value="09">Septiembre</option>
            <option value="10">Octubre</option>
            <option value="11">Noviembre</option>
            <option value="12">Diciembre</option>
        </select>
    </div>
</div>
<div class="row pt-2">
    <div class="modal fade" id="VentanaAddAccion" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Registrar Accion</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="/anadir-accion" id="formularioAccion" method="post" autocomplete="off">
                        <script>
                            $(function () {
                                $('[data-toggle="tooltip"]').tooltip()
                            })
                        </script>
                        <div class="row">
                            <div class="mb-3">
                                <input type="text" name="clave" value="{{claveSig}}" class="form-control"
                                    placeholder="Clave de identificación de la acción" required autofocus>
                            </div>
                        </div>
                        <div class="row">
                            <div class="mb-3">
                                <input type="text" name="nombre" class="form-control" placeholder="Nombre de la acción"
                                    required autofocus>
                            </div>
                        </div>

                        <div class="row">
                            <div class="mb-3">
                                <label class="form-label">Riesgo</label>
                                <select id="idRiesgo" name="idRiesgo" class="form-select" style="white-space: pre-line;"
                                    required>
                                    {% for clave in dictRiesgos.keys() %}
                                    <option value="{{dictRiesgos[clave]['riesgo'].idRiesgo}}"
                                        data-descripcion="{{dictRiesgos[clave]['riesgo'].descripcion}}">
                                        {{dictRiesgos[clave]['riesgo'].clave}} - {{dictRiesgos[clave]['riesgo'].nombre}}
                                        con Umbral {{dictRiesgos[clave]['activos'][0][3]}}
                                    </option>
                                    {% endfor %}
                                </select>
                                <br>
                                <label class="form-label">Descripción</label>
                                <p id="descripcionRiesgo"></p>
                            </div>
                        </div>


                        <div class="row">
                            <div class="mb-3">
                                <label class="form-label">Objetivo</label>
                                <i class="fa-solid fa-circle-info" data-toggle="tooltip" data-html="true"
                                    title="Al realizar esta acción, se trata al riesgo, con uno de estos objetivos"></i>
                                <select name="objetivo" class="form-select" style="white-space: pre-line;" required>
                                    {% for objetivo, valorObjetivo in objetivos.items() %}
                                    <option value="{{objetivo}}"> {{objetivo}}: {{valorObjetivo}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>



                        {% set selected_categoria = '' %}

                        <div class="row">
                            <div class="mb-3">
                                <label class="form-label">Categoria</label>
                                <select id="categoriaSelect" name="categoria" class="form-select"
                                    style="white-space: pre-line;" required>
                                    {% for valor, categoria in categoriasISO27001.items() %}
                                    <option value="{{valor}}">{{valor}}: {{categoria}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>


                        <div class="row">
                            <div class="mb-3">
                                <label class="form-label">Control</label>
                                <select id="controlSelect" name="control" class="form-select"
                                    style="white-space: pre-line;" required>
                                    <option value="">Seleccione una categoría primero</option>
                                </select>
                            </div>
                        </div>

                        <div class="row">
                            <div class="mb-3">
                                <textarea name="descripcion" cols="30" rows="5" class="form-control"
                                    placeholder="Descripción completa de la accion (Sin saltos de linea)"></textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="mb-3">
                                <label class="form-label">Responsable</label>
                                <i class="fa-solid fa-circle-info" data-toggle="tooltip" data-placement="top"
                                    title="Participante del proyecto que se encargará de revisar el desarrollo de la acción"></i>
                                <select name="idUsuario" class="form-select" style="white-space: pre-line;" required>
                                    {% for responsable in usuarios_listado %}
                                    <option value="{{responsable.idUsuario}}">{{responsable.nombre}} -
                                        {{responsable.departamento}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="row">
                            <div class="mb-3">
                                <label class="form-label">Fecha de Inicio</label>
                                <input id="fechaIni" type="date" name="fechaIni" class="form-control">
                            </div>
                        </div>

                        <div class="row">
                            <div class="mb-3">
                                <label class="form-label">Fecha de Fin</label>
                                <input id="fechaFin" type="date" name="fechaFin" class="form-control">
                            </div>
                        </div>

                        <div class="row">
                            <div class="mb-3">
                                <label class="form-label">Fecha de Notificacion</label>
                                <input id="fechaAviso" type="date" name="fechaAviso" class="form-control">
                            </div>
                        </div>

                        <hr>

                        <script>
                            // Captura el evento de cambio en el primer combo box
                            document.getElementById('categoriaSelect').addEventListener('change', function () {
                                // Obtiene el valor seleccionado
                                var selectedValue = this.value;

                                // Obtiene el segundo combo box
                                var controlSelect = document.getElementById('controlSelect');

                                // Limpia las opciones anteriores del segundo combo box
                                controlSelect.innerHTML = '<option value="">Seleccione un control</option>';

                                // Si se selecciona una categoría válida, actualiza el segundo combo box
                                if (selectedValue !== '') {
                                    var controls = JSON.parse('{{ controlesISO27001 | tojson | safe }}')[selectedValue];
                                    for (var clave in controls) {
                                        var control = controls[clave];
                                        var option = document.createElement('option');
                                        option.value = clave;
                                        option.textContent = clave + ': ' + control;
                                        controlSelect.appendChild(option);
                                    }
                                }
                            });
                        </script>

                        <script>
                            // Obtener la fecha actual
                            var today = new Date();
                            var dd = String(today.getDate()).padStart(2, '0');
                            var mm = String(today.getMonth() + 1).padStart(2, '0'); // Enero es 0
                            var yyyy = today.getFullYear();
                            var todayString = yyyy + '-' + mm + '-' + dd;

                            // Establecer la fecha mínima para la fecha de inicio
                            document.getElementById('fechaIni').setAttribute('min', todayString);

                            // Asignar una función de validación al cambio de la fecha de inicio
                            document.getElementById('fechaIni').addEventListener('change', function () {
                                // Obtener el valor de la fecha de inicio y de fin
                                var fechaIni = new Date(this.value);
                                var fechaFin = new Date(document.getElementById('fechaFin').value);



                                // Validar que la fecha de fin sea posterior a la fecha de inicio
                                if (fechaFin <= fechaIni) {
                                    alert('La fecha de fin debe ser posterior a la fecha de inicio');
                                    document.getElementById('fechaFin').value = ''; // Limpiar el valor
                                }
                            });

                            // Asignar una función de validación al cambio de la fecha de fin
                            document.getElementById('fechaFin').addEventListener('change', function () {
                                // Obtener el valor de la fecha de inicio y de fin
                                var fechaIni = new Date(document.getElementById('fechaIni').value);
                                var fechaFin = new Date(this.value);

                                // Validar que la fecha de fin sea posterior a la fecha de inicio
                                if (fechaFin <= fechaIni) {
                                    alert('La fecha de fin debe ser posterior a la fecha de inicio');
                                    this.value = ''; // Limpiar el valor
                                }
                            });


                            document.getElementById('fechaAviso').addEventListener('change', function () {
                                // Obtener el valor de la fecha de inicio y de fin
                                var fechaFin = new Date(document.getElementById('fechaFin').value);
                                var fechaAviso = new Date(this.value);

                                // Validar que la fecha de fin sea posterior a la fecha de inicio
                                if (fechaAviso >= fechaFin) {
                                    alert('La fecha de notificacion debe ser antes a la fecha de fin');
                                    this.value = ''; // Limpiar el valor
                                }
                            });

                        </script>

                        <div class="row">
                            <div class="mb-3">
                                <button type="submit" class="btn btn-dark bg-black w-100">Registrar</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="row pt-2">
    <div class="table-responsive">
        <table class="table table-main">
            <thead>
                <tr>
                    <th>Clave</th>
                    <th>Nombre</th>
                    <th>Fecha Fin</th>
                    <th>Clave Riesgo</th>
                    <th>Nombre Riesgo</th>
                    <th>Tipo Riesgo</th>
                    <th class="custom-sort">Umbral</th>
                    <th>Estatus</th>
                    <th>%</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for accion in acciones %}
                <tr>
                    <td>{{ accion[0].clave }}</td>
                    <td>{{ accion[0].nombre }}</td>
                    <td>{{ accion[0].fechaFin }}</td>
                    <td>{{ accion[2].clave }}</td>
                    <td>{{ accion[2].nombre }}</td>
                    <td>{{ accion[2].tipoRiesgo }}</td>
                    {% for clave in dictRiesgos.keys() %}
                    {% if clave == accion[2].clave %}
                    {% if dictRiesgos[clave]['activos'][0][3] == 'Insignificante' %}
                    <td class="bg-info">{{ dictRiesgos[clave]['activos'][0][3] }}</td>
                    {% elif dictRiesgos[clave]['activos'][0][3] == 'Bajo' %}
                    <td class="bg-success">{{ dictRiesgos[clave]['activos'][0][3] }}</td>
                    {% elif dictRiesgos[clave]['activos'][0][3] == 'Medio' %}
                    <td style="background-color: rgb(255, 214, 31); color: black;">{{
                        dictRiesgos[clave]['activos'][0][3] }}</td>
                    {% elif dictRiesgos[clave]['activos'][0][3] == 'Alto' %}
                    <td style="background-color: rgb(255, 145, 0); color: black;">{{ dictRiesgos[clave]['activos'][0][3]
                        }}</td>
                    {% else %}
                    <td class="bg-danger">{{ dictRiesgos[clave]['activos'][0][3] }}</td>
                    {% endif %}
                    {% endif %}
                    {% endfor %}

                    <td>{{ accion[0].estado }}</td>
                    <td>{{ accion[0].porcentaje }}</td>
                    <td>
                        <button type="button" class="btn btn-light btn-more" data-bs-toggle="modal"
                            data-bs-target="#Ventana{{ accion[0].idAccion }}"><i class="fa fa-eye"></i></button>
                        <a href="/modificar-accion/{{ accion[0].idAccion }}" class="btn btn-success"><i
                                class="fa fa-pencil"></i></a>
                        <button type="button" class="btn btn-warning" data-bs-toggle="modal"
                            data-bs-target="#Ventana{{accion[0].idAccion}}_E"><i class="fa fa-gear"></i></button>
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                            data-bs-target="#Ventana{{accion[0].idAccion}}_H"><i
                                class="fa fa-clipboard-list"></i></button>

                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% for accion in acciones %}
<div class="modal fade" id="Ventana{{accion[0].idAccion}}" data-bs-backdrop="static" data-bs-keyboard="false"
    tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Detalles de la Accion</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-justify">
                <p><b>Clave: </b>{{accion[0].clave}}</p>
                <p><b>Nombre: </b>{{accion[0].nombre}}</p>
                <p><b>Porcentaje: </b>{{accion[0].porcentaje}}%</p>
                {% if not accion[1].idParticipante is none %}
                <p><b>Responsable: </b>{{accion[1].nombre}} - {{accion[1].departamento}}</p>
                {% else %}
                <p><b>Responsable: Sin Asignar</p>
                {% endif %}
                <table class="table">
                    <thead>
                        <th>Fecha Inicio</th>
                        <th>Fecha Final</th>
                    </thead>
                    <tbody>
                    <tbody>
                        <tr>
                            <td class=""> {{ accion[0].fechaIni }}</td>
                            <td class=""> {{ accion[0].fechaFin }}</td>
                            </li>
                        </tr>
                    </tbody>
                </table>
                <p><b>Fecha de Notificacion: </b>{{accion[0].fechaAviso}}</p>
                <p><b>Objetivo: </b>{{accion[0].objetivo}}: {{objetivos[accion[0].objetivo]}}</p>
                <p><b>Descripción: </b>{{accion[0].descripcion}}</p>
                <p><b>Categoria: </b>{{accion[0].categoria}}: {{categoriasISO27001[accion[0].categoria]}}</p>
                <p><b>Control: </b>{{accion[0].control}}: {{controlesISO27001[accion[0].categoria][accion[0].control]}}
                </p>
                <hr>
                <h5>Modificar Activos y/o Riesgos asociados</h5>
                <h6>Riesgo</h6>
                <div class="row pt-2">
                    <div class="col-10">
                        <input type="text" class="form-control" value="{{accion[2].clave}} - {{accion[2].nombre}}"
                            readonly>
                    </div>
                    <div class="col-2">
                        <a href="/modificar-nuevo-riesgo/{{accion[2].idRiesgo}}"
                            class="btn btn-dark bg-black w-100">Actualizar</a>
                    </div>
                </div>
                <br>
                <h6>Activos</h6>
                {% for asociacion in accion[2].activos_asociados %}
                <div class="row pt-2">
                    <div class="col-10">
                        <input type="text" class="form-control"
                            value="{{asociacion.activo.clave}} - {{asociacion.activo.nombre}}" readonly>
                    </div>
                    <div class="col-2">
                        <a href="/evaluar-nuevo-activo/{{asociacion.activo.idActivo}}"
                            class="btn btn-dark bg-black w-100">Actualizar</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endfor %}


{% for accion in acciones %}
<div class="modal fade" id="Ventana{{accion[0].idAccion}}_E" data-bs-backdrop="static" data-bs-keyboard="false"
    tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Editar Estado de la Acción</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-justify">
                <div class="row">
                    <p><b>Advertencia: </b>Al cambiar de un estado 'Cancelado' o 'Finalizado' a 'Iniciado' va a
                        reestablecer el porcentaje de progreso de la acción y el responsable encargado de realizar esa
                        acción podrá reportar sus avances de nuevo. Si se cambia de un estado 'Cancelado' a 'Iniciado'
                        se
                        mantendrá el procentaje de progreso actual y el responsable encargado de realizar esa
                        acción podrá reportar sus avances de nuevo. Finalemente, en caso de cambiar una tarea a
                        'Cancelado' o
                        'Finalizado' no permitira al responsable realizar mas reportes en su sesión.</p>
                </div>
                <div class="row pt-1">
                    <form action="/actualizar-estado-accionG" method="post">
                        <div class="row">
                            <div class="mb-3">
                                <input type="hidden" name="idAccion" class="form-control" value="{{accion[0].idAccion}}"
                                    readonly>
                            </div>
                        </div>
                        <div class="row">
                            <div class="mb-3">
                                <label class="form-label">Estado de la Acción</label>
                                <select name="estado" class="form-select" style="white-space: pre-line;" required>
                                    {% if accion[0].estado == 'En Proceso'%}
                                    <option value="Iniciado">Iniciado</option>
                                    <option value="En Proceso" selected>En Proceso</option>
                                    <option value="Caneclado">Cancelado</option>
                                    <option value="Finalizado">Finalizado</option>
                                    {% elif accion[0].estado == 'Iniciado' %}
                                    <option value="Iniciado" selected>Iniciado</option>
                                    <option value="En Proceso">En Proceso</option>
                                    <option value="Cancelado">Cancelado</option>
                                    <option value="Finalizado">Finalizado</option>
                                    {% elif accion[0].estado == 'Cancelado' %}
                                    <option value="Iniciado">Iniciado</option>
                                    <option value="En Proceso">En Proceso</option>
                                    <option value="Cancelado" selected>Cancelado</option>
                                    <option value="Finalizado">Finalizado</option>
                                    {% else %}
                                    <option value="Iniciado">Iniciado</option>
                                    <option value="En Proceso">En Proceso</option>
                                    <option value="Cancelado">Cancelado</option>
                                    <option value="Finalizado" selected>Finalizado</option>
                                    {% endif %}
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="mb-3">
                                <button type="submit" class="btn btn-dark bg-black w-100">Cambiar estado</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}

{% for accion in acciones %}
<div class="modal fade" id="Ventana{{accion[0].idAccion}}_H" data-bs-backdrop="static" data-bs-keyboard="false"
    tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Historial de la Acción</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-justify">
                {% if accion[0].historial %}
                <table class="table">
                    <thead>
                        <th>Fecha de Actualización</th>
                        <th>Porcentaje</th>
                        <th>Estado</th>
                        <th>Detalles</th>
                        <th>Autor</th>
                    </thead>
                    <tbody>
                        {% for registro in accion[0].historial %}
                        <tr>
                            <td>{{registro.fecha}}</td>
                            <td>{{registro.porcentaje}}%</td>
                            <td>{{registro.estado}}</td>
                            <td>{{registro.detalles}}</td>
                            <td>{{registro.autor}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endfor %}
<style>
    .table-main td {
        white-space: nowrap;
        /* Evita que el texto se divida en varias líneas */
        overflow: hidden;
        /* Oculta el contenido que excede el ancho de la celda */
        text-overflow: ellipsis;
        /* Agrega puntos suspensivos (...) si el texto es demasiado largo */
    }
</style>
<script>
    $(document).ready(function () {
        var customSortType = $.fn.dataTable.ext.type.order['custom-sort'];
        var order = { 'Insignificante': 1, 'Bajo': 2, 'Medio': 3, 'Alto': 4, 'Crítico': 5 };

        $.fn.dataTable.ext.type.order['custom-sort-asc'] = function (a, b) {
            return order[a] - order[b];
        };

        $.fn.dataTable.ext.type.order['custom-sort-desc'] = function (a, b) {
            return order[b] - order[a];
        };

        var table = $('.table-main').DataTable({
            "scrollX": true,
            "lengthChange": false,
            "paging": false,
            "info": false,
            "searching": true,
            "language": {
                "zeroRecords": "No se encontraron registros coincidentes"
            },
            "columnDefs": [
                {
                    "orderable": false, // Deshabilitar ordenamiento
                    "searchable": true, // Permitir búsqueda
                    "targets": [0, 1, 2, 3, 4, 5, 7] // Primera columna
                },
                {
                    "orderable": true, // Deshabilitar ordenamiento
                    "searchable": false, // Permitir búsqueda
                    "targets": [8] // Primera columna
                },
                {
                    "orderable": true,
                    "searchable": true, // Deshabilitar búsqueda
                    "targets": "custom-sort",
                    "type": "custom-sort" // Usar el tipo de datos personalizado para la ordenación
                },
                {
                    "orderable": false, // Deshabilitar ordenamiento
                    "searchable": false, // Deshabilitar búsqueda
                    "targets": [-1] // Última columna
                }
            ]
        });

        $('#filter-month').prop('disabled', true);

        $('#filter-year').on('change', function () {
            var year = $(this).val();
            if (year) {
                table.column(2).search(year + '-', true, false).draw();
                $('#filter-month').prop('disabled', false);
                $('#filter-month').val('')
                $('#filter-month').on('change', function () {
                    var month = $(this).val();
                    if (month) {
                        table.column(2).search(year + '-' + month + '-', true, false).draw();
                    }
                    else {
                        table.column(2).search(year + '-', true, false).draw();
                    }
                });
            }
            else {
                $('#filter-month').prop('disabled', true);
                $('#filter-month').val('')
                table.column(2).search(year + '-', true, false).draw();
            }
        });

        $('#filter-tipo').on('change', function () {
            var tipo = $(this).val();
            table.column(5).search(tipo, true, false).draw();
        });

        $('#filter-umbral').on('change', function () {
            var umbral = $(this).val();
            table.column(6).search(umbral, true, false).draw();
        });

        $('#filter-estado').on('change', function () {
            var estado = $(this).val();
            table.column(7).search(estado, true, false).draw();
        });

        $('input[name="search"]').on('keyup', function () {
            table.search(this.value).draw();
        });

        $('.dataTables_filter').css('display', 'none')

        var selectRiesgo = document.getElementById('idRiesgo');
        var descripcionRiesgo = document.getElementById('descripcionRiesgo');
        descripcionRiesgo.textContent = selectRiesgo.options[selectRiesgo.selectedIndex].getAttribute('data-descripcion')


        selectRiesgo.addEventListener('change', function () {
            var selectedOption = selectRiesgo.options[selectRiesgo.selectedIndex];
            var descripcion = selectedOption.getAttribute('data-descripcion');
            descripcionRiesgo.textContent = descripcion;
        });
    });
</script>

{% endblock %}