{% extends "templateSideBar.html" %}

{% block username %} {{usuario.nombre}} {% endblock %}

{% block content %}
<div class="row pt-2 text-justify">
    <h2>{{proyecto.nombre}}</h2>
    <p>{{proyecto.descripcion}}</p>

    <hr>

    <h2 class="text-center"> Riesgos Registrados en el Proyecto </h2>

    <div class="card-body">
        <div class="card">
            <div class="card-body">
                <canvas id="riskChart" height="100"></canvas>
            </div>
        </div>
    </div>
</div>
<div class="row pt-4 text-justify">
    <h4>Top 10 Riesgo del Proyecto</h4>
    <div class="card">
        <div class="card-body">
            <table class="table">
                <thead>
                    <th>No.</th>
                    <th>Clave</th>
                    <th>Umbral</th>
                </thead>
                <tbody>
                    {% for riesgo, umbral in top10 %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ riesgo.clave }}</td>
                        <td>{{ umbral }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="row pt-4">
    <h4>Las 10 acciones más próximas</h4>
    <div class="card">
        <div class="card-body">
            <table class="table">
                <thead>
                    <th>No.</th>
                    <th>Clave</th>
                    <th>Porcentaje</th>
                    <th>Estado</th>
                    <th>Responsable</th>
                    <th>Fecha Limite</th>
                </thead>
                <tbody>
                    {% for accion, responsable in acciones %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ accion.clave }}</td>
                        <td>{{ accion.porcentaje }}</td>
                        <td>{{ accion.estado }}</td>
                        <td>{{ responsable.nombre }} {{responsable.apellidoPaterno}} - {{responsable.departamento}}</td>
                        <td>{{ accion.fechaFin }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="row pt-4"></div>
<script>
    const labels = {{ grafica[0]| tojson }};
    const data = {{ grafica[1]| tojson }};

    const ctx = document.getElementById('riskChart');
    new Chart(ctx, {
        type: 'bar',
        data: {
            labels: labels,
            datasets: [{
                label: '# de Riesgos',
                data: data,
                borderWidth: 1,
                backgroundColor: [
                    'rgba(0, 0, 128, 0.5)',   // Insignificante: Azul Marino
                    'rgba(0, 128, 0, 0.5)',   // Bajo: Verde bandera
                    'rgba(255, 255, 0, 0.5)', // Medio: Amarillo
                    'rgba(255, 165, 0, 0.5)', // Alto: Naranja
                    'rgba(255, 0, 0, 0.5)'    // Crítico: Rojo
                ],
                borderColor: [
                    'rgb(0, 0, 128)',   // Insignificante: Azul Marino
                    'rgb(0, 128, 0)',   // Bajo: Verde bandera
                    'rgb(255, 255, 0)', // Medio: Amarillo
                    'rgb(255, 165, 0)', // Alto: Naranja
                    'rgb(255, 0, 0)'    // Crítico: Rojo
                ]
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true,
                    title: {
                        display: false // Esto oculta el título del eje Y
                    }
                }
            },
            plugins: {
                legend: {
                    display: false // Esto oculta la leyenda
                },
                tooltip: {
                    callbacks: {
                        label: function (context) {
                            return '# de Riesgos: ' + context.parsed.y;
                        }
                    }
                }
            }
        }
    });




</script>
{% endblock %}