{% extends "templateSideBar.html" %}

{% block username %} {{usuario.nombre}} {% endblock %}

{% block content %}
<div class="row pt-2 text-justify">
    <h2>{{proyecto.nombre}}</h2>
    <p>{{proyecto.descripcion}}</p>

    <hr>

    <h2 class="text-center"> Riesgos Registrados en el Proyecto </h2>

    <div class="card-body">
        <div class="card">
            <div class="card-body">
                <canvas id="riskChart" height="100"></canvas>
            </div>
        </div>
    </div>
</div>
<div class="row pt-4 text-justify">
    <h4>Top 10 Riesgo del Proyecto</h4>
    <div class="card">
        <div class="card-body">
            <table class="table">
                <thead>
                    <th>No.</th>
                    <th>Clave</th>
                    <th>Nombre</th>
                    <th>Umbral</th>
                    <th></th>
                </thead>
                <tbody>
                    {% for riesgo, umbral in top10 %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ riesgo.clave }}</td>
                        <td>{{ riesgo.nombre }}</td>
                        {% if umbral[2] == 'Crítico' %}
                        <td style="background-color: red; color: white;">{{ umbral[2] }}</td>
                        {% elif umbral[2] == 'Alto' %}
                        <td style="background-color: orange; color: black;">{{ umbral[2] }}</td>
                        {% elif umbral[2] == 'Medio' %}
                        <td style="background-color: yellow; color: black;">{{ umbral[2] }}</td>
                        {% elif umbral[2] == 'Bajo' %}
                        <td style="background-color: green; color: white;">{{ umbral[2] }}</td>
                        {% else %}
                        <td style="background-color: blue; color: white;">{{ umbral[2] }}</td>
                        {% endif %}
                        <td>
                            <button type="button" class="btn btn-light btn-more" data-bs-toggle="modal"
                            data-bs-target="#Ventana{{riesgo.idRiesgo}}"><i class="fa fa-eye"></i></button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="row pt-4">
    <h4>Las 10 acciones más próximas</h4>
    <div class="card">
        <div class="card-body">
            <table class="table">
                <thead>
                    <th>No.</th>
                    <th>Clave</th>
                    <th>Porcentaje</th>
                    <th>Estado</th>
                    <th>Responsable</th>
                    <th>Fecha Limite</th>
                </thead>
                <tbody>
                    {% for accion, responsable in acciones %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ accion.clave }}</td>
                        <td>{{ accion.porcentaje }}</td>
                        <td>{{ accion.estado }}</td>
                        <td>{{ responsable.nombre }} {{responsable.apellidoPaterno}} - {{responsable.departamento}}</td>
                        <td>{{ accion.fechaFin }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="row pt-4"></div>

{% for riesgo, umbral in top10 %}
<div class="modal fade" id="Ventana{{riesgo.idRiesgo}}" data-bs-backdrop="static"
    data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Detalles del Riesgo</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-justify">
                
                <p><b>Clave: </b>{{riesgo.clave}}</p>
                <p><b>Nombre: </b>{{riesgo.nombre}}</p>
                <p><b>Descripción: </b>{{riesgo.descripcion}}</p>
                <p><b>Tipo de Riesgo: </b>{{riesgo.tipoRiesgo}}</p>
                
                {% if umbral[0] == "Alto" %}
                <p><b>Probabilidad: </b><button type="button" class="btn btn-sm btn-block btn-danger"
                    style="pointer-events: none;"> Alta </button></p>
                {% elif umbral[0] ==  "Medio" %}
                <p><b>Probabilidad: </b><button type="button" class="btn btn-sm btn-block btn-warning"
                    style="pointer-events: none;"> Media </button></p>
                {% else %}
                <p><b>Probabilidad: </b><button type="button" class="btn btn-sm btn-block btn-success"
                    style="pointer-events: none;"> Baja </button></p>
                {% endif %}

                <h5 class="text-center"><b>Probabilidad - Factores de amenaza</b></h5>
                <p><b>Agente de amenaza:</b> {{ riesgo.amenaza}}</p>
                <table class="table table-responsive">
                    <thead>
                        
                        <th style="text-align: center;padding: 10px;">Nivel de habilidad</th>
                        <th style="text-align: center;padding: 10px;">Motivacion</th>
                        <th style="text-align: center;padding: 10px;">Oportunidad</th>
                        <th style="text-align: center;padding: 10px;">Tamaño</th>
                    </thead>
                    <tr>
                        <td class="" style="text-align: center;padding: 10px;"> {{ riesgo.nivelHabilidad}}</td>
                        <td class="" style="text-align: center;padding: 10px;"> {{ riesgo.motivacion}}</td>
                        <td class=""style="text-align: center;padding: 10px;"> {{ riesgo.oportunidad}}</td>
                        <td class=""style="text-align: center;padding: 10px;"> {{ riesgo.tamaño}}</td>
                    </tr>
                </table>
                
                <h5 class="text-center"><b>Probabilidad - Factores de vulnerabilidad</b></h5>
                <p><b>Vulnerabilidad:</b> {{ riesgo.vulnerabilidad}}</p>
                <table class="table table-responsive">
                    <thead>
                        
                        <th style="text-align: center;padding: 10px;">Facilidad de descubrimiento</th>
                        <th style="text-align: center;padding: 10px;">Facilidad de explotación</th>
                        <th style="text-align: center;padding: 10px;">Conciencia</th>
                        <th style="text-align: center;padding: 10px;">Detección de intrusiones</th>
                    </thead>
                    <tr>
                        <td class="" style="text-align: center;padding: 10px;"> {{ riesgo.facilidadDescubrimiento}}</td>
                        <td class="" style="text-align: center;padding: 10px;"> {{ riesgo.facilidadExplotacion}}</td>
                        <td class="" style="text-align: center;padding: 10px;"> {{ riesgo.conciencia}}</td>
                        <td class="" style="text-align: center;padding: 10px;"> {{ riesgo.deteccionIntrusiones}}</td>
                    </tr>
                </table>

                {% if umbral[1] == "Alto" %}
                <p><b>Impacto: </b><button type="button" class="btn btn-sm btn-block btn-danger"
                    style="pointer-events: none;"> Alto </button></p>
                {% elif umbral[1] ==  "Medio" %}
                <p><b>Impacto: </b><button type="button" class="btn btn-sm btn-block btn-warning"
                    style="pointer-events: none;"> Medio </button></p>
                {% else %}
                <p><b>Impacto: </b><button type="button" class="btn btn-sm btn-block btn-success"
                    style="pointer-events: none;"> Bajo </button></p>
                {% endif %}

                <h5 class="text-center"><b>Impacto - Impacto empresarial</b></h5>
                <table class="table table-responsive">
                    <thead>
                        
                        <th style="text-align: center;padding: 10px;">Impacto Financiero</th>
                        <th style="text-align: center;padding: 10px;">Impacto Reputacion</th>
                        <th style="text-align: center;padding: 10px;">Impacto Legal</th>
                        <th style="text-align: center;padding: 10px;">Impacto Usuarios</th>
                    </thead>
                    <tr>
                        <td class="" style="text-align: center;padding: 10px;"> {{ riesgo.impactoFinanciero}}</td>
                        <td class=""style="text-align: center;padding: 10px;"> {{ riesgo.impactoReputacion}}</td>
                        <td class=""style="text-align: center;padding: 10px;"> {{ riesgo.impactoLegal}}</td>
                        <td class=""style="text-align: center;padding: 10px;"> {{ riesgo.impactoUsuarios}}</td>
                    </tr>
                </table>

                <p><b>Activos asociados: </b></p>
                <table class="table">
                    <thead>
                        <th></th>
                        <th>Nombre</th>
                        <th>Clave</th>
                        <th>Sensibildad</th>
                    </thead>
                    <tbody>

                        {% for asociacion in riesgo.activos_asociados %}
                        <tr>
                            <td><i class="fa-solid fa-circle-info" data-toggle="tooltip" data-placement="top"
                                    title="Descripción: {{asociacion.activo.descripcion}}"></i></td>
                            <td class=""> {{ asociacion.activo.nombre }}</td>
                            <td>{{ asociacion.activo.clave }}</td>
                            <td>
                                {% if asociacion.activo.sensibilidad > 18 %}
                                <button type="button" class="btn btn-sm btn-block btn-danger"
                                    style="pointer-events: none;"> Sensibilidad alta </button>
                                {% elif asociacion.activo.sensibilidad > 9 %}
                                <button type="button" class="btn btn-sm btn-block btn-warning"
                                    style="pointer-events: none;"> Sensibilidad media </button>
                                {% else %}
                                <button type="button" class="btn btn-sm btn-block btn-success"
                                    style="pointer-events: none;"> Sensibilidad baja </button>
                                {% endif %}
                            </td>
                            </li>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endfor %}

<script>
    const labels = {{ grafica[0]| tojson }};
    const data = {{ grafica[1]| tojson }};

    const ctx = document.getElementById('riskChart');
    new Chart(ctx, {
        type: 'bar',
        data: {
            labels: labels,
            datasets: [{
                label: '# de Riesgos',
                data: data,
                borderWidth: 1,
                backgroundColor: [
                    'rgba(0, 0, 128, 0.5)',   // Insignificante: Azul Marino
                    'rgba(0, 128, 0, 0.5)',   // Bajo: Verde bandera
                    'rgba(255, 255, 0, 0.5)', // Medio: Amarillo
                    'rgba(255, 165, 0, 0.5)', // Alto: Naranja
                    'rgba(255, 0, 0, 0.5)'    // Crítico: Rojo
                ],
                borderColor: [
                    'rgb(0, 0, 128)',   // Insignificante: Azul Marino
                    'rgb(0, 128, 0)',   // Bajo: Verde bandera
                    'rgb(255, 255, 0)', // Medio: Amarillo
                    'rgb(255, 165, 0)', // Alto: Naranja
                    'rgb(255, 0, 0)'    // Crítico: Rojo
                ]
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true,
                    title: {
                        display: false // Esto oculta el título del eje Y
                    }
                }
            },
            plugins: {
                legend: {
                    display: false // Esto oculta la leyenda
                },
                tooltip: {
                    callbacks: {
                        label: function (context) {
                            return '# de Riesgos: ' + context.parsed.y;
                        }
                    }
                }
            }
        }
    });




</script>
{% endblock %}